amp-story-player {
  background: var(--story-player-poster, lightgrey);
  width: 405px;
  height: 720px;
}

amp-story-player::after {
  content: " ";
  position: absolute;
  top: calc(50% - 38px);
  left: calc(50% - 38px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.25));
  animation-name: story-player-spinner;
  animation-duration: 4400ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
}

.i-amphtml-story-player-loaded::after {
  visibility: hidden;
}

@keyframes story-player-spinner {
  12.5% { transform: rotate(135deg) }
  25%   { transform: rotate(270deg) }
  37.5% { transform: rotate(405deg) }
  50%   { transform: rotate(540deg) }
  62.5% { transform: rotate(675deg) }
  75%   { transform: rotate(810deg) }
  87.5% { transform: rotate(945deg) }
  to    { transform: rotate(1080deg) }
}
