/**
 * Styles that can be preapplied to amp-story[standalone] documents to layout
 * the story before the JS loads.
*/

html.i-amphtml-singledoc.i-amphtml-standalone body, body,
html.i-amphtml-singledoc.i-amphtml-standalone, html {
  animation:none !important;
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  overflow: hidden;
}

.i-amphtml-notbuilt {
  color: initial !important;
}
.i-amphtml-notbuilt > * {
  display: initial;
}

html {
  --story-page-vmax: 1vh;
  --story-page-vmin: 1vw;
  --story-page-vh: 1vh;
  --story-page-vw: 1vw;
  font-size: calc(2.5 * var(--story-page-vmax, 8px));
}

amp-story[standalone] {
  text-rendering: geometricPrecision;
  background-color: black !important;
  width: 100%;
  height: 100%;
  display: block !important;
}

amp-story-page:first-of-type,
amp-story-page:first-of-type amp-story-grid-layer {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  animation: none;
}

amp-story-page {
  position: absolute;
  top: 9000vh;
  overflow: hidden;
}

amp-story-grid-layer {
  box-sizing: border-box;
  display: grid;
  z-index: 2;
  /* UserOverrideable */
  padding: 68px 32px 32px;
}

[template="fill"] > * {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  position: absolute;
  width: auto;
}

[template="vertical"] {
  grid-auto-flow: row;
  grid-template-columns: 100%;
  grid-gap: 16px;
  /* UserOverrideable */
  grid-gap: 16px;
  justify-content: stretch;
  justify-items: start;
  align-content: start;
}

[template="horizontal"] {
  grid-auto-flow: column;
  grid-template-rows: 100%;
}

[template="thirds"] {
  height: 100%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas: "upper-third" "middle-third" "lower-third";
}

amp-story-grid-layer[aspect-ratio], amp-story-grid-layer[preset] {
  margin: auto;
  font-size: calc(var(--i-amphtml-story-desktop-one-panel-height, 100vh) / 10);
}

amp-story-grid-layer:not([aspect-ratio]):not([preset]):not(.i-amphtml-layout) {
  /* UserOverrideable */
  overflow: hidden;
}

amp-story-grid-layer * {
  /* UserOverrideable */
  box-sizing: border-box;
  margin: 0;
}

amp-story:not(.i-amphtml-story-loaded) [animate-in] {
  visibility: hidden;
}

p,
h4 {
  font-size: 1rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.17rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.67rem;
}

/*# Desktop one panel */
@media (min-aspect-ratio: 3 / 4) {
  amp-story:not(.i-amphtml-story-loaded):not([supports-landscape]) amp-story-page:first-of-type{
    border-radius: 10px;
    margin: auto !important;
    width: var(--i-amphtml-story-desktop-one-panel-width) !important;
    height: var(--i-amphtml-story-desktop-one-panel-height) !important;
  }

  amp-story:not(.i-amphtml-story-loaded):not([supports-landscape]) {
    --i-amphtml-story-desktop-one-panel-ratio: 69 / 116;
    --i-amphtml-story-desktop-one-panel-responsive-margin: max(74px, 8.25vh);
    --i-amphtml-story-desktop-one-panel-height: calc(100vh - var(--i-amphtml-story-desktop-one-panel-responsive-margin) * 2);
    --i-amphtml-story-desktop-one-panel-width: calc(var(--i-amphtml-story-desktop-one-panel-height) * var(--i-amphtml-story-desktop-one-panel-ratio));
    --i-amphtml-story-desktop-one-panel-border-radius: 10px;
    --story-page-vmax: calc(var(--i-amphtml-story-desktop-one-panel-height) * 0.01);
    --story-page-vmin: calc(var(--i-amphtml-story-desktop-one-panel-width) * 0.01);
    --story-page-vh: calc(var(--i-amphtml-story-desktop-one-panel-height) * 0.01);
    --story-page-vw: calc(var(--i-amphtml-story-desktop-one-panel-width) * 0.01);
    font-size: calc(2.5 * var(--story-page-vmax, 8px));
  }
}

@media(max-height: 756px) {
  amp-story:not(.i-amphtml-story-loaded):not([supports-landscape]) {
    --i-amphtml-story-desktop-one-panel-responsive-margin: 0;
    --i-amphtml-story-desktop-one-panel-width: calc(100vh * var(--i-amphtml-story-desktop-one-panel-ratio));
    --i-amphtml-story-desktop-one-panel-border-radius: 0;
  }
}

@media(max-height: 538px) {
  amp-story:not(.i-amphtml-story-loaded):not([supports-landscape]) {
    --i-amphtml-story-desktop-one-panel-ratio: 3 / 4;
  }
}
