main {
    height: 100%;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
  }

  .entry-point {
    height: 100%;
    width: 100%;
    flex: 0 0 100%;
    border: 0;
    opacity: 0;
    transition: opacity 500ms ease;
    position: absolute;
  }

  .rectangular-entry-point {
    border-radius: 7px;
    height: 100px;
  }