/**
 * Styles that can be preapplied to amp-story[standalone] documents to layout
 * the story before the JS loads.
*/

html.i-amphtml-singledoc.i-amphtml-standalone body, body,
html.i-amphtml-singledoc.i-amphtml-standalone, html {
  animation:none !important;
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  overflow: hidden;
}

.i-amphtml-notbuilt {
  color: initial !important;
}
.i-amphtml-notbuilt > * {
  display: initial;
}
