<!--
     UNESCAPED_TEMPLATE_IN_ATTR_VALUE
-->
<!doctype html>
<html amp4email>
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>  <style amp4email-boilerplate>body{visibility:hidden}</style>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <style amp-custom>
        amp-ig {
        }
    </style>
</head>
<body>
<template type="amp-mustache">
    <div lang={{{language}}}>
    </div>
</template>
</body>
</html>