/*
    inspired from http://connoratherton.com/loaders
*/
.amp-cxense .amp-cxense-placeholder {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: black;
}
.amp-cxense .amp-cxense-placeholder .amp-cxense-loader {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    margin: auto;
}
.amp-cxense .amp-cxense-placeholder .amp-cxense-loader > div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #fff;
    -webkit-animation: amp-cxense-loader 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
    animation: amp-cxense-loader 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
}
@-webkit-keyframes amp-cxense-loader {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 1;
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.7;
    }
    100% {
        opacity: 0.0;
    }
}
@keyframes amp-cxense-loader {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 1;
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.7;
    }
    100% {
        opacity: 0.0;
    }
}
.amp-cxense .amp-cxense-placeholder .amp-cxense-loader > div:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.amp-cxense .amp-cxense-placeholder .amp-cxense-loader > div:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.amp-cxense .amp-cxense-placeholder .amp-cxense-loader > div:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}