.amp-cxense .amp-mpf-player-placeholder {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: black;
}
.amp-cxense .amp-mpf-player-placeholder .amp-mpf-play-circle {
    cursor: pointer;
    display: block;
    font-size: 2em;
    color: white;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 3em;
    height: 3em;
    text-align: center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    -webkit-writing-mode: horizontal-tb;
}
.amp-cxense .amp-mpf-player-placeholder .amp-mpf-play-triangle {
    position: absolute;
    margin: auto;
    left: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid white;
}
/*
    from http://connoratherton.com/loaders
*/
.amp-cxense .amp-mpf-player-placeholder .amp-mpf-loader {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    margin: auto;
}
.amp-cxense .amp-mpf-player-placeholder .amp-mpf-loader > div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #fff;
    -webkit-animation: amp-mpf-loader 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
    animation: amp-mpf-loader 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
}
@-webkit-keyframes amp-mpf-loader {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 1;
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.7;
    }
    100% {
        opacity: 0.0;
    }
}
@keyframes amp-mpf-loader {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 1;
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.7;
    }
    100% {
        opacity: 0.0;
    }
}
.amp-cxense .amp-mpf-player-placeholder .amp-mpf-loader > div:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.amp-cxense .amp-mpf-player-placeholder .amp-mpf-loader > div:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.amp-cxense .amp-mpf-player-placeholder .amp-mpf-loader > div:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}