{
  "presets": [
    ["env", {
      "loose": true,
      "targets": {
        "browsers": ["Last 2 versions"]
      },
      "modules": "commonjs"
    }]
  ],
  "plugins": [
    "transform-remove-strict-mode"
  ]
}
