{
  "env": {
    "development": {
      "presets": [
        "es2015-rollup",
        "es2015-loose-rollup"
      ],
      "plugins": [
      ]
    },
    "production": {
      "presets": [
        "es2015-rollup",
        "es2015-loose-rollup"
      ],
      "plugins": [
      ]
    }
  }
}
