{
  "presets": [
    ["env", {
      "loose": true,
      "targets": {
        "browsers": ["Last 2 versions"]
      },
      "modules": "commonjs",
      "sourceType": "module"
    }]
  ],
  "ignore": ["sha384-generated.js"],
  "plugins": ["transform-remove-strict-mode"]
}
