node_modules
build
build-system/tasks/visual-diff/snippets/*.js
build-system/babel-plugins/**/fixtures/**/*.js
build-system/app-index/test/**/*.js
dist
dist.3p
dist.tools
out
examples
third_party
test/coverage
**/*.extern.js
validator/dist
validator/webui/dist
validator/node_modules
validator/nodejs/node_modules
validator/webui/node_modules
eslint-rules
babel.config.js
karma.conf.js
testing/local-amp-chrome-extension
extensions/amp-a4a/0.1/test/testdata
extensions/amp-access/0.1/access-expr-impl.js
extensions/amp-animation/0.1/parsers/css-expr-impl.js
extensions/amp-bind/0.1/bind-expr-impl.js
