{
  "parser": "babel-eslint",
  "plugins": [
    "eslint-plugin-google-camelcase",
    "sort-imports-es6-autofix",
    "sort-requires"
  ],
  "env": {
    "es6": true,
    "browser": true
  },
 "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "globals": {
    "it": false,
    "chai": false,
    "expect": false,
    "describe": false,
    "beforeEach": false,
    "afterEach": false,
    "before": false,
    "after": false,
    "AMP": false,
    "assert": false,
    "sinon": true,
    "sandbox": true,
    "context": false,
    "global": false,
    "describes": true
  },
  "rules": {
    "array-bracket-spacing": [2, "never"],
    "arrow-parens": [2, "as-needed"],
    "arrow-spacing": 2,
    "comma-dangle": [2, "always-multiline"],
    "computed-property-spacing": [2, "never"],
    "curly": 2,
    "dict-string-keys": 2,
    "closure-type-primitives": 2,
    "dot-location": [2, "property"],
    "enforce-private-props": 2,
    "todo-format": 0,
    "eol-last": 2,
    "google-camelcase/google-camelcase": 2,
    "indent": [2, 2, { "SwitchCase": 1, "VariableDeclarator": 2, "MemberExpression": 2, "ObjectExpression": 1, "CallExpression": { "arguments": 2 } }],
    "key-spacing": 2,
    "max-len": [2, 80, 4, {
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignorePattern": "^import.*';|}\\ from.*;|.*require\\(.*;$"
    }],
    "no-alert": 2,
    "no-array-destructuring": 2,
    "no-cond-assign": 2,
    "no-debugger": 2,
    "no-div-regex": 2,
    "no-dupe-keys": 2,
    "no-es2015-number-props": 2,
    "no-eval": 2,
    "no-export-side-effect": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-for-of-statement": 2,
    "no-implicit-coercion": [2, { "boolean": false }],
    "no-implied-eval": 2,
    "no-iterator": 2,
    "no-lone-blocks": 2,
    "no-multi-spaces": 2,
    "no-native-reassign": 2,
    "no-redeclare": 2,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-spaced-func": 2,
    "no-spread": 2,
    "no-throw-literal": 2,
    "no-trailing-spaces": 2,
    "no-unused-expressions": 0,
    "no-unused-vars": [2, {
      "argsIgnorePattern": "^var_|opt_|unused",
      "varsIgnorePattern": "AmpElement|Def|Interface$"
    }],
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "no-undef": 2,
    "no-var": 2,
    "no-warning-comments": [2, { "terms": ["do not submit"], "location": "anywhere" }],
    "object-curly-spacing": [2, "never", {
      "objectsInObjects": false,
      "arraysInObjects": false
    }],
    "object-shorthand": [2, "properties", { "avoidQuotes": true }],
    "prefer-const": 2,
    "quotes": [2, "single", "avoid-escape"],
    "radix": 2,
    "semi": 2,
    "keyword-spacing": [2, { "before": true, "after": true }],
    "sort-imports-es6-autofix/sort-imports-es6": [2, {
      "ignoreCase": false,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }],
    "sort-requires/sort-requires": 2,
    "space-before-blocks": 2,
    "space-before-function-paren": [2, "never"],
    "space-in-parens": 2,
    "space-infix-ops": 2,
    "space-unary-ops": [1, { "words": true, "nonwords": false }],
    "wrap-iife": [2, "any"]
  }
}
