# Output directories
node_modules
build/**
dist/**
dist.3p/**
dist.tools/**
firebase/**
out/**
test/coverage/**

# Code directories
**/*.extern.js
build-system/tasks/visual-diff/snippets/*.js
build-system/babel-plugins/**/fixtures/**/*.js
build-system/app-index/test/**/*.js
examples/**
extensions/amp-a4a/0.1/test/testdata/**
extensions/amp-access/0.1/access-expr-impl.js
extensions/amp-animation/0.1/parsers/css-expr-impl.js
extensions/amp-bind/0.1/bind-expr-impl.js
testing/local-amp-chrome-extension/**
third_party/**
validator/**
