.DS_Store
.g4ignore
build/
.karma-cache
.amp-build
c
/dist
dist.3p
dist.tools
test-bin
/release
examples.min
node_modules
npm-debug.log
.idea
.tm_properties
.settings
typings
typings.json
/test/manual/amp-ad.adtech.html
test/coverage
./package-lock.json
*.swp
*.swo
yarn-error.log
deps.txt
firebase
.firebaserc
firebase.json
.firebase/
src/purifier/dist
build-system/server/new-server/transforms/dist
build-system/tasks/performance/cache
build-system/tasks/performance/results.json
build-system/global-configs/custom-config.json
export
validator/export
result-reports/**
/sxg
