# npm configuration for amphtml

audit=false # Speed up install by not running a full audit
fund=false # Don't print the trailing funding message
loglevel=error # Suppress verbose logging during installation
save-exact=true # Use exact semver numbers
