# Local cache directories
# Keep this list in sync with .gitignore, .eslintignore, and build-system/tasks/clean.js
.babel-cache
.css-cache
.pre-closure-cache

# Output directories
# Keep this list in sync with .gitignore, .eslintignore, and build-system/tasks/clean.js
.amp-dep-check
build
build-system/dist
build-system/server/new-server/transforms/dist
build-system/tasks/performance/cache
build-system/tasks/performance/results.json
build-system/global-configs/custom-config.json
dist
dist.3p
dist.tools
export
examples/storybook
extensions/**/dist
release
result-reports
src/purifier/dist
test/coverage
test/coverage-e2e
validator/**/dist
validator/export

# Files and directories explicitly ignored by prettier
.github/ISSUE_TEMPLATE/**
**/package*.json
**/node_modules/**
