language: node_js
dist: xenial
node_js:
  - '12'
notifications:
  email:
    recipients:
      - amp-build-cop@grotations.appspotmail.com
    on_success: change
    on_failure: change
before_install:
  # Override Xenial's default Java version (github.com/travis-ci/travis-ci/issues/10290)
  - export PATH=$(echo "$PATH" | sed -e 's/:\/usr\/local\/lib\/jvm\/openjdk11\/bin//')
  - export JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-amd64
  # Ensure python v2 and v3 are available, and "python" defaults to v3 (docs.travis-ci.com/user/reference/xenial/#python-support)
  - pyenv global 3.6.7 2.7.15
  - python3 --version
  - python2 --version
  - python --version
  # Xenial's version of python-protobuf is outdated (github.com/ampproject/amphtml/pull/22528)
  - pip3 install --user protobuf
branches:
  only:
    - master
    - /^amp-release-.*$/
addons:
  apt:
    packages:
      # Use unbuffer (from expect-dev) for log coloring (github.com/travis-ci/travis-ci/issues/7967)
      - expect-dev
      - google-cloud-sdk
      - openssl
      - protobuf-compiler
  chrome: stable
  hosts:
    - ads.localhost
    - iframe.localhost
    # CURLs amp subdomain for the amp-recaptcha-input integration test. The hash
    # is the CURLS subdomain for localhost:9876
    - jgla3zmib2ggq5buc4hwi5taloh6jlvzukddfr4zltz3vay5s5rq.recaptcha.localhost
    # Requested by some tests because they need a valid font host,
    # but should not resolve in tests.
    - fonts.googleapis.com
stages:
  - name: build
  - name: test
  - name: experiment
    if: type = push
jobs:
  include:
    - stage: build
      name: 'Build'
      script:
        - unbuffer node build-system/pr-check/build.js
    - stage: build
      name: 'Checks'
      script:
        - unbuffer node build-system/pr-check/checks.js
    - stage: build
      name: 'Validator Tests'
      script:
        - unbuffer node build-system/pr-check/validator-tests.js
    - stage: build
      name: 'Dist, Bundle Size'
      script:
        - unbuffer node build-system/pr-check/dist-bundle-size.js
    - stage: build
      name: 'Module Dist, Bundle Size'
      script:
        - unbuffer node build-system/pr-check/module-dist-bundle-size.js
    - stage: test
      name: 'Visual Diff Tests'
      script:
        - unbuffer node build-system/pr-check/visual-diff-tests.js
    - stage: test
      name: 'Local Tests'
      script:
        - unbuffer node build-system/pr-check/local-tests.js
    - stage: test
      name: 'Dist Tests'
      script:
        - unbuffer node build-system/pr-check/dist-tests.js
    - stage: test
      name: 'End to End Tests'
      script:
        - unbuffer node build-system/pr-check/e2e-tests.js
    - stage: experiment
      name: 'Experiment A Tests'
      script:
        - unbuffer node build-system/pr-check/experiment-tests.js --experiment=experimentA
    - stage: experiment
      name: 'Experiment B Tests'
      script:
        - unbuffer node build-system/pr-check/experiment-tests.js --experiment=experimentB
    - stage: experiment
      name: 'Experiment C Tests'
      script:
        - unbuffer node build-system/pr-check/experiment-tests.js --experiment=experimentC
    - stage: experiment
      name: 'Performance Tests'
      script:
        - unbuffer node build-system/pr-check/performance-tests.js
  allow_failures:
    - script: unbuffer node build-system/pr-check/performance-tests.js # See #28148
  fast_finish: true
