language: node_js
dist: xenial
node_js:
  - "lts/*"
python:
  - "2.7"
notifications:
  email:
    recipients:
      - amp-build-cop@grotations.appspotmail.com
    on_success: change
    on_failure: change
before_install:
  # Override Xenial's default Java version (github.com/travis-ci/travis-ci/issues/10290)
  - export PATH=$(echo "$PATH" | sed -e 's/:\/usr\/local\/lib\/jvm\/openjdk11\/bin//')
  - export JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-amd64
branches:
  only:
    - master
    - release
    - canary
    - /^amp-release-.*$/
addons:
  apt:
    packages:
      # Use unbuffer (from expect-dev) for log coloring (github.com/travis-ci/travis-ci/issues/7967)
      - expect-dev
      - google-cloud-sdk
      - openssl
      - protobuf-compiler
      - python-protobuf
  chrome: stable
  hosts:
    - ads.localhost
    - iframe.localhost
    # CURLs amp subdomain for the amp-recaptcha-input integration test. The hash
    # is the CURLS subdomain for localhost:9876
    - jgla3zmib2ggq5buc4hwi5taloh6jlvzukddfr4zltz3vay5s5rq.recaptcha.localhost
    # Requested by some tests because they need a valid font host,
    # but should not resolve in tests.
    - fonts.googleapis.com
stages:
  - build
  - test
jobs:
  include:
    - stage: build
      name: "Build"
      script:
        - unbuffer node build-system/pr-check/build.js
    - stage: build
      name: "Checks"
      script:
        - unbuffer node build-system/pr-check/checks.js
    - stage: build
      name: "Validator Tests"
      script:
        - unbuffer node build-system/pr-check/validator-tests.js
    - stage: build
      name: "Dist, Bundle Size"
      script:
        - unbuffer node build-system/pr-check/dist-bundle-size.js
    - stage: test
      name: "Single Pass Tests"
      script:
        - unbuffer node build-system/pr-check/single-pass-tests.js
    - stage: test
      name: "Visual Diff Tests"
      script:
        - unbuffer node build-system/pr-check/visual-diff-tests.js
    - stage: test
      name: "Local Tests"
      script:
        - unbuffer node build-system/pr-check/local-tests.js
    - stage: test
      name: "Remote (Sauce Labs) Tests"
      script:
        - unbuffer node build-system/pr-check/remote-tests.js
      after_script:
        - build-system/sauce_connect/stop_sauce_connect.sh
    - stage: test
      name: "End to End Tests"
      script:
        - unbuffer node build-system/pr-check/e2e-tests.js
cache:
  directories:
    - node_modules
    - build-system/tasks/e2e/node_modules
    - build-system/tasks/visual-diff/node_modules
    - sauce_connect
    - validator/node_modules
    - validator/nodejs/node_modules
    - validator/webui/node_modules
    - $HOME/.cache/pip
  yarn: true
