language: node_js
sudo: required  # See http://docs.travis-ci.com/user/trusty-ci-environment/
dist: trusty
node_js:
  - "stable"
python:
  - "2.7"
notifications:
  webhooks:
    - http://savage.nonblocking.io:8080/savage/travis
addons:
  sauce_connect: true
  hosts:
    - ads.localhost
    - iframe.localhost
  apt:
    packages:
    - protobuf-compiler
    - python-protobuf
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
before_script:
  - npm install -g gulp
  - pip install --user protobuf
script:
  - npm run ava
  - gulp lint
  - gulp build --fortesting --css-only
  - gulp check-types
  - gulp dist --fortesting
  - gulp presubmit
  # dep-check needs to occur after build since we rely on build to generate
  # the css files into js files.
  - gulp dep-check
  # Unit tests with Travis' default chromium
  - gulp test --nobuild --compiled --fortesting
  # Integration tests with all saucelabs browsers
  - gulp test --nobuild --saucelabs --integration --compiled --fortesting
  # All unit tests with an old chrome (best we can do right now to pass tests
  # and not start relying on new features).
  # Disabled because it regressed. Better to run the other saucelabs tests.
  # - gulp test --saucelabs --oldchrome
  - gulp validator
branches:
  only:
    - master
    - release
    - canary
    - /^amp-release-.*$/
env:
  global:
    - NPM_CONFIG_PROGRESS="false"
