language: node_js
sudo: required  # See http://docs.travis-ci.com/user/trusty-ci-environment/
dist: trusty
node_js:
  - "stable"
notifications:
  webhooks:
    - http://savage.nonblocking.io:8080/savage/travis
addons:
  sauce_connect: true
  hosts:
    - ads.localhost
    - iframe.localhost
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
before_script:
  - npm install -g gulp
script:
  - gulp lint
  - gulp build
  - gulp dist
  - gulp presubmit
  # Unit tests with Travis' default chromium
  - gulp test
  # Integration tests with all saucelabs browsers
  - gulp test --saucelabs --integration
  # All unit tests with an old chrome (best we can do right now to pass tests
  # and not start relying on new features).
  - gulp test --saucelabs --oldchrome
