# These owners will be the default owners for everything in the repo.
* @cramforce @dvoytenko

# core javascript owners
*.js @jridgewell @cramforce @dvoytenko

# core md (docs) owners
*.md @mrjoro @bpaduch

# top level file owners
caches.json @cramforce @dvoytenko
gulpfile.js @ampproject/runtime
.babelrc @erwinmombay @rsimha-amp
.eslintrc @erwinmombay @rsimha-amp
.gitignore @erwinmombay @rsimha-amp
.travis.yml @erwinmombay @rsimha-amp
yarn.lock @erwinmombay @rsimha-amp

# folder owners
3p/* @ampproject/runtime
src/* @ampproject/runtime
ads/* @lannka @zhouyx
css/* @ampproject/runtime
examples/* @ampproject/runtime
extensions/* @ampproject/runtime
builtins/* @ampproject/runtime
screenshots/* @ampproject/runtime
contributing/* @mrjoro @bpaduch
spec/* @mrjoro @bpaduch
testing/* @ampproject/runtime
build-system/* @erwinmombay @cramforce
third_party/* @cramforce @erwinmombay
validator/* @ampproject/validator
viewer-api/* @dvoytenko @chenshay
tools/errortracker/* @cramforce @erwinmombay
tools/experiments/* @dvoytenko

# ads/google owners
ads/google/* @ampproject/a4a

# extension owners
# IN PROGRESS

# protoascii owners (keep this at bottom so that protoascii files require
# a review from validator team)
*.protoascii @ampproject/validator
