<!--
  ## Introduction

  Embed daily motion videos into your AMP HTML files.
-->
<!-- -->
<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <title>amp-dailymotion</title>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <!-- ## Setup -->
  <!--
    Import the `amp-dailymotion` component.
  -->
  <script async custom-element="amp-dailymotion" src="https://cdn.ampproject.org/v0/amp-dailymotion-0.1.js"></script>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="canonical" href="https://ampbyexample.com/components/amp-dailymotion/">
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
</head>
<body>

  <!-- ## Basic Usage -->
  <!--
    You can find the Dailymotion video id in the video page URL. Change the play button hover color with `data-ui-highlight`.
  -->
  <amp-dailymotion
    data-videoid="x1r0aw6"
    layout="responsive"
    data-ui-highlight="FF4081"
    width="480" height="270"></amp-dailymotion>

  <!-- ## Plain Embeds -->
  <!--
    Hide the logo and titles via `amp-ui-logo` and `data-info`.
  -->
  <amp-dailymotion
    data-videoid="x1r0aw6"
    layout="responsive"
    data-ui-logo="false"
    data-info="false"
    width="480" height="270"></amp-dailymotion>

</body>
</html>