


amp-user-notification {
  position: fixed !important;
  bottom: 0;
  left: 0;
  overflow: hidden !important;
  visibility: hidden;
  background: rgba(255, 255, 255, .7);
  z-index: 1000;
  width: 100%;
}

amp-user-notification.amp-active {
  visibility: visible;
}

amp-user-notification.amp-hidden {
  visibility: hidden;
}
