{
  "env": {
    "node": true,
    "jasmine": true
  },
  "plugins": [
    "jasmine"
  ],
  "extends": [
    "plugin:jasmine/recommended"
  ],
  "globals": {
    "amp": false,
    "chrome": false,
    "goog": false,
    "json_testutil": false,
    "parse_css": false,
    "parse_srcset": false,
    "parse_url": false,
    "fs": false
  },
  "rules": {
    "amphtml-internal/no-for-of-statement": 0,
    "chai-expect/missing-assertion": 1,
    "google-camelcase/google-camelcase": 0,
    "jsdoc/check-param-names": 0,
    "jsdoc/check-tag-names": 0,
    "jsdoc/check-types": 0,
    "jsdoc/require-param": 0,
    "jsdoc/require-param-name": 0,
    "jsdoc/require-param-type": 0,
    "jsdoc/require-returns-type": 0,
    "max-len": [1, 80, 4, {
      "ignoreTrailingComments": true,
      "ignoreRegExpLiterals": true,
      "ignorePattern": "^import.*';|}\\ from.*;|.*require\\(.*;$|@typedef|@param|@return|@private|@const|@type|@implements",
      "ignoreUrls": true
    }],
    "no-cond-assign": 1,
    "no-div-regex": 1,
    "no-multi-spaces": 0,
    "no-throw-literal": 1,
    "no-undef": 1,
    "no-unused-vars": [1, {
      "argsIgnorePattern": "^var_|opt_|unused",
      "varsIgnorePattern": "AmpElement|Def|Interface$"
    }],
    "no-useless-concat": 1,
    "no-var": 1,
    "prefer-const": 1
  }
}
