#i-amphtml-performance-result {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #000000cc;
  padding: 10px;
  color: white;
  z-index: 99999;
}

.i-amphtml-performance-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 12px;
}

.i-amphtml-performance-count {
  margin-left: 8px;
  font-weight: bold;
}
