.i-amphtml-tiktok-centered {
    height: 100%;
    left: 50%;
    width: 325px;
    transform: translateX(-50%);
    position: absolute;
}

.i-amphtml-tiktok-unresolved {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    width: 325px;
    height: 500px;
}
