.i-amphtml-tikok-centered {
    height: 100%;
    left: 50%;
    margin-left: -162px;
    position: absolute;
}

.i-amphtml-tiktok-placeholder-image-container{
    height: 100%;
    left: 50%;
    margin-left: -162px;
    position: absolute;
    width: 325px;
    border-radius: 8px;
    background: rgba(220, 220, 220, 0.6);
}

.i-amphtml-tiktok-placeholder-image {
    height: 578px;
    top: 1px;
    width: 325px;
    border-radius: 8px 8px 0px 0px;
}
