<!-- 
  ## Introduction

  Embed Brid Player videos in your AMP HTML files.
-->
<!-- -->
<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <title>amp-brid-player</title>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <!-- ## Setup -->
  <!--
    Import the `amp-brid-player` component in the header.
  -->
  <script async custom-element="amp-brid-player" src="https://cdn.ampproject.org/v0/amp-brid-player-0.1.js"></script>
  <link rel="canonical" href="https://ampbyexample.com/components/amp-vimeo/">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
</head>
<body>

  <!-- ## Basic Usage -->
  <!--
    Embed Brid Player videos via the `data-video` attribute...
  -->
  <amp-brid-player
    data-partner="264"
    data-player="4144"
    data-video="13663"
    layout="responsive"
    width="480" height="270">
</amp-brid-player>
  <!--
    ...or via the  `data-playlist` attribute. For a complete list of the attributes, refer to the [official documentation](https://www.ampproject.org/docs/reference/examples/visual-tests/amp-by-example/components/amp-brid-player).
  -->
  <amp-brid-player
    data-partner="965"
    data-player="724"
    data-playlist="1220"
    layout="responsive"
    width="480" height="270">
</amp-brid-player>


</body>
</html>