version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.1.3
  node: circleci/node@4.5.1

push_and_pr_builds: &push_and_pr_builds
  filters:
    branches:
      ignore:
        - nightly

push_builds_only: &push_builds_only
  filters:
    branches:
      only:
        - main
        - /^amp-release-.*$/

experiment_job: &experiment_job
  parameters:
    exp:
      description: 'Which of the three (A/B/C) experiments to use'
      type: enum
      enum: ['A', 'B', 'C']
  environment:
    EXP: << parameters.exp >>

executors:
  amphtml-small-executor:
    docker:
      - image: cimg/base:stable
    resource_class: small
  amphtml-medium-executor:
    docker:
      - image: cimg/node:lts-browsers
    resource_class: medium
  amphtml-large-executor:
    docker:
      - image: cimg/node:lts-browsers
    resource_class: large
  amphtml-xlarge-executor:
    docker:
      - image: cimg/node:lts-browsers
    resource_class: xlarge
  validator-xlarge-executor:
    docker:
      - image: cimg/openjdk:16.0-node
    resource_class: xlarge

commands:
  setup_vm:
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: 'Configure Temporary Workspace'
          command: |
            mv /tmp/workspace /tmp/restored-workspace
            mkdir -p /tmp/workspace
      - run:
          name: 'Maybe Gracefully Halt'
          command: /tmp/restored-workspace/maybe_gracefully_halt.sh
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-
      - checkout
      - save_cache:
          key: source-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - .git
      - run:
          name: 'Configure Development Environment'
          command: |
            ./.circleci/fetch_merge_commit.sh
            ./.circleci/check_config.sh
            ./.circleci/restore_build_output.sh
            cat ./build-system/test-configs/hosts | sudo tee -a /etc/hosts
      # TODO(danielrozenberg): consolidate the extra steps.
      - node/install-packages:
          override-ci-command: npm config set prefix $HOME && npm ci
  teardown_vm:
    steps:
      - persist_to_workspace:
          root: /tmp
          paths:
            - workspace
  install_chrome:
    steps:
      - browser-tools/install-chrome:
          replace-existing: true
      - browser-tools/install-chromedriver
  store_test_output:
    steps:
      - store_artifacts:
          path: result-reports
      - store_test_results:
          path: result-reports
  skip_on_push_builds:
    steps:
      - when:
          condition:
            matches:
              pattern: ^main|amp-release-.*$
              value: << pipeline.git.branch >>
          steps:
            - run:
                name: 'Skip Local Unit Test on Push Builds'
                command: circleci-agent step halt

jobs:
  'Initialize Repository':
    executor:
      name: amphtml-small-executor
    steps:
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-
      - checkout
      - run:
          name: 'Compute and Fetch Merge Commit'
          command: |
            ./.circleci/compute_merge_commit.sh
            ./.circleci/fetch_merge_commit.sh
      - save_cache:
          key: source-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - .git
      - run:
          name: 'Store maybe_gracefully_halt.sh in Workspace'
          command: cp .circleci/maybe_gracefully_halt.sh /tmp/workspace
      - teardown_vm
  'Checks':
    executor:
      name: amphtml-medium-executor
    steps:
      - setup_vm
      - install_chrome
      - run:
          name: 'Checks'
          command: node build-system/pr-check/checks.js
      - teardown_vm
  'Unminified Build':
    executor:
      name: amphtml-xlarge-executor
    steps:
      - setup_vm
      - run:
          name: 'Unminified Build'
          command: node build-system/pr-check/unminified-build.js
      - teardown_vm
  'Nomodule Build':
    executor:
      name: amphtml-xlarge-executor
    steps:
      - setup_vm
      - run:
          name: 'Create Artifacts Directory'
          command: mkdir -p /tmp/artifacts
      - run:
          name: 'Nomodule Build'
          command: node build-system/pr-check/nomodule-build.js
      - store_artifacts:
          path: /tmp/artifacts/amp_nomodule_build.tar.gz
      - teardown_vm
  'Module Build':
    executor:
      name: amphtml-xlarge-executor
    steps:
      - setup_vm
      - run:
          name: 'Module Build'
          command: node build-system/pr-check/module-build.js
      - teardown_vm
  'Bundle Size':
    executor:
      name: amphtml-xlarge-executor
    steps:
      - setup_vm
      - run:
          name: 'Bundle Size'
          command: node build-system/pr-check/bundle-size.js
      - teardown_vm
  'Validator Tests':
    executor:
      name: validator-xlarge-executor
    steps:
      - setup_vm
      - run:
          name: 'Install Validator Dependencies'
          command: ./.circleci/install_validator_dependencies.sh
      - run:
          name: 'Validator Tests'
          command: node build-system/pr-check/validator-tests.js
      - store_test_output
      - teardown_vm
  'Visual Diff Tests':
    executor:
      name: amphtml-large-executor
    steps:
      - setup_vm
      - install_chrome
      - run:
          name: 'Visual Diff Tests'
          command: node build-system/pr-check/visual-diff-tests.js
      - store_test_output
      - teardown_vm
  'Local Unit Tests':
    executor:
      name: amphtml-large-executor
    steps:
      - skip_on_push_builds
      - setup_vm
      - install_chrome
      - run:
          name: 'Local Unit Tests'
          command: node build-system/pr-check/unit-tests-local.js
      - store_test_output
      - teardown_vm
  'All Unit Tests':
    executor:
      name: amphtml-medium-executor
    parallelism: 6
    steps:
      - setup_vm
      - install_chrome
      - run:
          name: 'All Unit Tests'
          command: node build-system/pr-check/unit-tests.js
      - store_test_output
      - teardown_vm
  'Unminified Tests':
    executor:
      name: amphtml-large-executor
    steps:
      - setup_vm
      - install_chrome
      - run:
          name: 'Unminified Tests'
          command: node build-system/pr-check/unminified-tests.js
      - store_test_output
      - teardown_vm
  'Nomodule Tests':
    executor:
      name: amphtml-large-executor
    parameters:
      config:
        description: 'Which config file to use'
        type: enum
        enum: ['prod', 'canary']
    steps:
      - setup_vm
      - install_chrome
      - run:
          name: 'Nomodule Tests (<< parameters.config >>)'
          command: node build-system/pr-check/nomodule-tests.js --config=<< parameters.config >>
      - store_test_output
      - teardown_vm
  'Module Tests':
    executor:
      name: amphtml-large-executor
    parameters:
      config:
        description: 'Which config file to use'
        type: enum
        enum: ['prod', 'canary']
    steps:
      - setup_vm
      - install_chrome
      - run:
          name: 'Module Tests (<< parameters.config >>)'
          command: node build-system/pr-check/module-tests.js --config=<< parameters.config >>
      - store_test_output
      - teardown_vm
  'End-to-End Tests':
    executor:
      name: amphtml-medium-executor
    parallelism: 6
    steps:
      - setup_vm
      - install_chrome
      - run:
          name: 'End-to-End Tests'
          command: node build-system/pr-check/e2e-tests.js
      - store_test_output
      - teardown_vm
  'Performance Tests':
    executor:
      name: amphtml-xlarge-executor
    steps:
      - setup_vm
      - install_chrome
      - run:
          name: 'Performance Tests'
          command: node build-system/pr-check/performance-tests.js
      - store_test_output
      - teardown_vm
  'Experiment Build':
    executor:
      name: amphtml-xlarge-executor
    <<: *experiment_job
    steps:
      - setup_vm
      - run:
          name: 'Experiment << parameters.exp >> Build'
          command: node build-system/pr-check/experiment-build.js --experiment=experiment<< parameters.exp >>
      - teardown_vm
  'Experiment Integration Tests':
    executor:
      name: amphtml-large-executor
    <<: *experiment_job
    steps:
      - setup_vm
      - install_chrome
      - run:
          name: 'Experiment << parameters.exp >> Integration Tests'
          command: node build-system/pr-check/experiment-integration-tests.js --experiment=experiment<< parameters.exp >>
      - store_test_output
      - teardown_vm
  'Experiment End-to-End Tests':
    executor:
      name: amphtml-large-executor
    <<: *experiment_job
    parallelism: 6
    steps:
      - setup_vm
      - install_chrome
      - run:
          name: 'Experiment << parameters.exp >> End-to-End Tests'
          command: node build-system/pr-check/experiment-e2e-tests.js --experiment=experiment<< parameters.exp >>
      - store_test_output
      - teardown_vm

workflows:
  'CircleCI':
    jobs:
      - 'Initialize Repository':
          <<: *push_and_pr_builds
      - 'Checks':
          <<: *push_and_pr_builds
          requires:
            - 'Initialize Repository'
      - 'Unminified Build':
          <<: *push_and_pr_builds
          requires:
            - 'Initialize Repository'
      - 'Nomodule Build':
          <<: *push_and_pr_builds
          requires:
            - 'Initialize Repository'
      - 'Module Build':
          <<: *push_and_pr_builds
          requires:
            - 'Initialize Repository'
      - 'Bundle Size':
          <<: *push_and_pr_builds
          requires:
            - 'Initialize Repository'
      - 'Validator Tests':
          <<: *push_and_pr_builds
          requires:
            - 'Initialize Repository'
      - 'Visual Diff Tests':
          <<: *push_and_pr_builds
          requires:
            - 'Nomodule Build'
      - 'Local Unit Tests':
          <<: *push_and_pr_builds
          requires:
            - 'Initialize Repository'
      - 'All Unit Tests':
          name: '⛓️ All Unit Tests'
          <<: *push_and_pr_builds
          requires:
            - 'Local Unit Tests'
      - 'Unminified Tests':
          <<: *push_and_pr_builds
          requires:
            - 'Unminified Build'
      - 'Nomodule Tests':
          name: 'Nomodule Tests (<< matrix.config >>)'
          matrix:
            parameters:
              config: ['prod', 'canary']
          <<: *push_and_pr_builds
          requires:
            - 'Nomodule Build'
      - 'Module Tests':
          name: 'Module Tests (<< matrix.config >>)'
          matrix:
            parameters:
              config: ['prod', 'canary']
          <<: *push_and_pr_builds
          requires:
            - 'Nomodule Build'
            - 'Module Build'
      - 'End-to-End Tests':
          name: '⛓️ End-to-End Tests'
          <<: *push_and_pr_builds
          requires:
            - 'Nomodule Build'
      - 'Experiment Build':
          name: 'Experiment << matrix.exp >> Build'
          matrix:
            parameters:
              exp: ['A', 'B', 'C']
          <<: *push_and_pr_builds
          requires:
            - 'Initialize Repository'
      - 'Experiment Integration Tests':
          name: 'Exp. << matrix.exp >> Integration Tests'
          matrix:
            parameters:
              exp: ['A', 'B', 'C']
          <<: *push_and_pr_builds
          requires:
            - 'Experiment << matrix.exp >> Build'
      - 'Experiment End-to-End Tests':
          name: '⛓️ Exp. << matrix.exp >> End-to-End Tests'
          matrix:
            parameters:
              exp: ['A', 'B', 'C']
          <<: *push_and_pr_builds
          requires:
            - 'Experiment << matrix.exp >> Build'
      # TODO(wg-performance, #12128): This takes 30 mins and fails regularly.
      # - 'Performance Tests':
      #     <<: *push_builds_only
      #     requires:
      #       - 'Nomodule Build'
