version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.1.3

push_and_pr_builds: &push_and_pr_builds
  filters:
    branches:
      ignore:
        - nightly

push_builds_only: &push_builds_only
  filters:
    branches:
      only:
        - main
        - /^amp-release-.*$/

executors:
  amphtml-docker-small-executor:
    docker:
      - image: cimg/base:2020.12
    resource_class: small
  amphtml-medium-executor:
    machine:
      image: ubuntu-2004:202010-01
    resource_class: medium
  amphtml-large-executor:
    machine:
      image: ubuntu-2004:202010-01
    resource_class: large
  amphtml-xlarge-executor:
    machine:
      image: ubuntu-2004:202010-01
    resource_class: xlarge

commands:
  save_merge_commit:
    steps:
      - save_cache:
          name: 'Save Merge Commit'
          key: git-{{ .Branch }}-{{ .Revision }}
          paths:
            - .CIRCLECI_MERGE_COMMIT
  restore_merge_commit:
    steps:
      - restore_cache:
          name: 'Restore Merge Commit'
          key: git-{{ .Branch }}-{{ .Revision }}
  maybe_gracefully_halt:
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: 'Maybe Gracefully Halt'
          command: if ls /tmp/workspace/.CI_GRACEFULLY_HALT_* 1>/dev/null 2>&1; then echo "Gracefully halting this job."; circleci-agent step halt; fi
  setup_vm:
    steps:
      - run:
          name: 'Create Workspace'
          command: mkdir -p /tmp/workspace
      - checkout
      - restore_merge_commit
      - run:
          name: 'Fetch Merge Commit'
          command: ./.circleci/fetch_merge_commit.sh
      - run:
          name: 'Check Config'
          command: ./.circleci/check_config.sh
      - run:
          name: 'Setup Google Cloud Storage'
          command: ./.circleci/setup_storage.sh
      - run:
          name: 'Configure Hosts'
          command: cat ./build-system/test-configs/hosts | sudo tee -a /etc/hosts
      - run:
          name: 'Install Dependencies'
          command: ./.circleci/install_dependencies.sh
  teardown_vm:
    steps:
      - persist_to_workspace:
          root: /tmp
          paths:
            - workspace
  install_chrome:
    steps:
      - browser-tools/install-chrome:
          replace-existing: true
  fail_fast:
    steps:
      - run:
          name: 'Fail Fast'
          when: on_fail
          command: ./.circleci/fail_fast.sh

jobs:
  'Compute Merge Commit':
    executor:
      name: amphtml-docker-small-executor
    steps:
      - run:
          name: 'Compute Merge Commit'
          command: curl -sS https://raw.githubusercontent.com/ampproject/amphtml/main/.circleci/compute_merge_commit.sh | bash
      - save_merge_commit
  'Checks':
    executor:
      name: amphtml-medium-executor
    steps:
      - maybe_gracefully_halt
      - setup_vm
      - run:
          name: 'Checks'
          command: node build-system/pr-check/checks.js
      - fail_fast
      - teardown_vm
  'Unminified Build':
    executor:
      name: amphtml-xlarge-executor
    steps:
      - maybe_gracefully_halt
      - setup_vm
      - run:
          name: 'Unminified Build'
          command: node build-system/pr-check/unminified-build.js
      - fail_fast
      - teardown_vm
  'Nomodule Build':
    executor:
      name: amphtml-xlarge-executor
    steps:
      - maybe_gracefully_halt
      - setup_vm
      - run:
          name: 'Nomodule Build'
          command: node build-system/pr-check/nomodule-build.js
      - fail_fast
      - teardown_vm
  'Module Build':
    executor:
      name: amphtml-xlarge-executor
    steps:
      - maybe_gracefully_halt
      - setup_vm
      - run:
          name: 'Module Build'
          command: node build-system/pr-check/module-build.js
      - fail_fast
      - teardown_vm
  'Bundle Size':
    executor:
      name: amphtml-xlarge-executor
    steps:
      - maybe_gracefully_halt
      - setup_vm
      - run:
          name: 'Bundle Size'
          command: node build-system/pr-check/bundle-size.js
      - fail_fast
      - teardown_vm
  'Validator Tests':
    executor:
      name: amphtml-xlarge-executor
    steps:
      - maybe_gracefully_halt
      - setup_vm
      - run:
          name: 'Install Validator Dependencies'
          command: ./.circleci/install_validator_dependencies.sh
      - run:
          name: 'Validator Tests'
          command: node build-system/pr-check/validator-tests.js
      - fail_fast
      - teardown_vm
  'Visual Diff Tests':
    executor:
      name: amphtml-large-executor
    steps:
      - maybe_gracefully_halt
      - setup_vm
      - install_chrome
      - run:
          name: 'Visual Diff Tests'
          command: node build-system/pr-check/visual-diff-tests.js
      - fail_fast
      - teardown_vm
  'Unit Tests':
    executor:
      name: amphtml-large-executor
    steps:
      - maybe_gracefully_halt
      - setup_vm
      - install_chrome
      - run:
          name: 'Unit Tests'
          command: node build-system/pr-check/unit-tests.js
      - fail_fast
      - teardown_vm
  'Unminified Tests':
    executor:
      name: amphtml-large-executor
    steps:
      - maybe_gracefully_halt
      - setup_vm
      - install_chrome
      - run:
          name: 'Unminified Tests'
          command: node build-system/pr-check/unminified-tests.js
      - fail_fast
      - teardown_vm
  'Nomodule Tests':
    executor:
      name: amphtml-large-executor
    parameters:
      config:
        description: 'Which config file to use'
        type: enum
        enum: ['prod', 'canary']
    steps:
      - maybe_gracefully_halt
      - setup_vm
      - install_chrome
      - run:
          name: 'Nomodule Tests (<< parameters.config >>)'
          command: node build-system/pr-check/nomodule-tests.js --config=<< parameters.config >>
      - fail_fast
      - teardown_vm
  'Module Tests':
    executor:
      name: amphtml-large-executor
    parameters:
      config:
        description: 'Which config file to use'
        type: enum
        enum: ['prod', 'canary']
    steps:
      - maybe_gracefully_halt
      - setup_vm
      - install_chrome
      - run:
          name: 'Module Tests (<< parameters.config >>)'
          command: node build-system/pr-check/module-tests.js --config=<< parameters.config >>
      - fail_fast
      - teardown_vm
  'End-to-End Tests':
    executor:
      name: amphtml-large-executor
    steps:
      - maybe_gracefully_halt
      - setup_vm
      - install_chrome
      - run:
          name: 'End-to-End Tests'
          command: node build-system/pr-check/e2e-tests.js
      - fail_fast
      - teardown_vm
  'Performance Tests':
    executor:
      name: amphtml-xlarge-executor
    steps:
      - maybe_gracefully_halt
      - setup_vm
      - install_chrome
      - run:
          name: 'Performance Tests'
          command: node build-system/pr-check/performance-tests.js
      - fail_fast
      - teardown_vm
  'Experiment Build':
    executor:
      name: amphtml-xlarge-executor
    parameters:
      exp:
        description: 'Which of the three (A/B/C) experiments to use'
        type: enum
        enum: ['A', 'B', 'C']
    steps:
      - maybe_gracefully_halt
      - setup_vm
      - run:
          name: 'Experiment << parameters.exp >> Build'
          command: node build-system/pr-check/experiment-build.js --experiment=experiment<< parameters.exp >>
      - fail_fast
      - teardown_vm
  'Experiment Tests':
    executor:
      name: amphtml-large-executor
    parameters:
      exp:
        description: 'Which of the three (A/B/C) experiments to use'
        type: enum
        enum: ['A', 'B', 'C']
    steps:
      - maybe_gracefully_halt
      - setup_vm
      - install_chrome
      - run:
          name: 'Experiment << parameters.exp >> Tests'
          command: node build-system/pr-check/experiment-tests.js --experiment=experiment<< parameters.exp >>
      - fail_fast
      - teardown_vm

workflows:
  'CircleCI':
    jobs:
      - 'Compute Merge Commit':
          <<: *push_and_pr_builds
      - 'Checks':
          <<: *push_and_pr_builds
          requires:
            - 'Compute Merge Commit'
      - 'Unminified Build':
          <<: *push_and_pr_builds
          requires:
            - 'Compute Merge Commit'
      - 'Nomodule Build':
          <<: *push_and_pr_builds
          requires:
            - 'Compute Merge Commit'
      - 'Module Build':
          <<: *push_and_pr_builds
          requires:
            - 'Compute Merge Commit'
      - 'Bundle Size':
          <<: *push_and_pr_builds
          requires:
            - 'Compute Merge Commit'
      - 'Validator Tests':
          <<: *push_and_pr_builds
          requires:
            - 'Compute Merge Commit'
      - 'Visual Diff Tests':
          <<: *push_and_pr_builds
          requires:
            - 'Nomodule Build'
      - 'Unit Tests':
          <<: *push_and_pr_builds
          requires:
            - 'Compute Merge Commit'
      - 'Unminified Tests':
          <<: *push_and_pr_builds
          requires:
            - 'Unminified Build'
      - 'Nomodule Tests':
          name: 'Nomodule Tests (<< matrix.config >>)'
          matrix:
            parameters:
              config: ['prod', 'canary']
          <<: *push_and_pr_builds
          requires:
            - 'Nomodule Build'
      - 'Module Tests':
          name: 'Module Tests (<< matrix.config >>)'
          matrix:
            parameters:
              config: ['prod', 'canary']
          <<: *push_and_pr_builds
          requires:
            - 'Nomodule Build'
            - 'Module Build'
      - 'End-to-End Tests':
          <<: *push_and_pr_builds
          requires:
            - 'Nomodule Build'
      - 'Experiment Build':
          name: 'Experiment << matrix.exp >> Build'
          matrix:
            parameters:
              exp: ['A', 'B', 'C']
          <<: *push_and_pr_builds
          requires:
            - 'Compute Merge Commit'
      - 'Experiment Tests':
          name: 'Experiment << matrix.exp >> Tests'
          matrix:
            parameters:
              exp: ['A', 'B', 'C']
          <<: *push_and_pr_builds
          requires:
            - 'Experiment << matrix.exp >> Build'
      # TODO(wg-performance, #12128): This takes 30 mins and fails regularly.
      # - 'Performance Tests':
      #     <<: *push_builds_only
      #     requires:
      #       - 'Nomodule Build'
