@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.i-amp-quiz-container {
    font-family: 'Poppins-bold', sans-serif;
    font-weight: 400;
    background: #005AF0;
    height: 80%;
    border-radius: 10px;
}

.i-amp-quiz-head-container {
    display: grid;
    justify-items: center;
}

.i-amp-quiz-option-container {
    height: 90%;
    display: grid;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0px;
}

.i-amp-quiz-option {
    display: inline-grid;
    align-items: center;
    border-radius: 10px;
    padding-left: 5%;
    background-color: inherit;
    margin-bottom: 10px;
}

.i-amp-quiz-option-selected[correct]::before {
    content: 'c';
}

.i-amp-quiz-option-selected:not([correct]) {
    background-color: red;
}

.i-amp-quiz-option-selected:not([correct])::before {
    content: 'x';
}

.i-amp-quiz-option-post-selection:not(i-amp-quiz-option-selected) {
    filter: brightness(80%);
}

.i-amp-quiz-option-post-selection[correct] {
    background-color: green;
}
