@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:host {
    align-self: start;
    --correct-color: #5BBA74;
    --correct-color-shaded: #2D8E42;
    --incorrect-color: #F34E4E;
    --incorrect-color-shaded: #cc4141;
  }

.i-amp-quiz-container {
    font-family: 'Poppins-bold', sans-serif;
    font-weight: 400;
    background: #005AF0;
    border-radius: 32px;
}

.i-amp-quiz-prompt-container {
    display: grid;
    justify-items: center;
    padding: 20px;
    color: white;
}

.i-amp-quiz-prompt {
    margin: 0px;
}

h1.i-amp-quiz-prompt {
    font-size: 28px;
    line-height: 36px;
}

h2.i-amp-quiz-prompt {
    font-size: 22px;
    line-height: 28px;
}

h3.i-amp-quiz-prompt {
    font-size: 18px;
    line-height: 24px;
}

.i-amp-quiz-option-container {
    display: grid;
    background-color: white;
    border-radius: 32px;
    padding: 8px;
    padding-bottom: 0px;
}

.i-amp-quiz-option {
    display: inline-grid;
    grid-template-columns: 50px auto 50px;
    justify-items: start;
    align-items: center;
    border-radius: 32px;
    padding: 8px;
    background-color: inherit;
    margin-bottom: 8px;
    color: #5F6368;
    border: solid 1px;
    border-color: #DADCE0;
    /* TODO: Why won't this notation work? */
    /* font: 16px/20px; */
    font-size: 16px;
    line-height: 20px;
}

.i-amp-quiz-option-post-selection.i-amp-quiz-option-selected {
    border: none;
    color: white;
}

.i-amp-quiz-answer-choice {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    color: #005AF0;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
}

.i-amp-quiz-option-post-selection:not([correct]) > .i-amp-quiz-answer-choice {
    color: var(--incorrect-color);
}

.i-amp-quiz-option-post-selection[correct] > .i-amp-quiz-answer-choice {
    color: var(--correct-color);
}

.i-amp-quiz-option-post-selection.i-amp-quiz-option-selected > .i-amp-quiz-answer-choice {
    border: none;
    margin: 2px;
}

.i-amp-quiz-option-post-selection > .i-amp-quiz-answer-choice {
    background: white;
}

.i-amp-quiz-percentage {
    padding-left: 10px;
    font-weight: 800;
    display: none;
}

.i-amp-quiz-option-post-selection:not(.i-amp-quiz-option-selected) > .i-amp-quiz-percentage {
    color: #AAAAAA;
}

.i-amp-quiz-option-post-selection > .i-amp-quiz-percentage {
    display: inherit;
}

/* TODO: ADD ANIMATIONS */
