.amp-quiz-container {
    font-family: "helvetica neue";
    font-weight: 400;
    background: #AAA;
    width: auto;
    height: 80%;
    padding: 10%;
    border-radius: 3px;
}

.amp-quiz-head-container {
    height: 20%;
    display: grid;
    justify-items: center;
}

.amp-quiz-option-container {
    height: 80%;
    display: grid;
    padding-left: 5%;
    padding-right: 5%;
    background-color: inherit;
}

.amp-quiz-option {
    height: 50%;
    display: grid;
    align-items: center;
    border-radius: 3px;
    padding-left: 5%;
    background-color: inherit;
}

.amp-quiz-option-selected[correct] {
    background-color: green;
}

.amp-quiz-option-selected[correct]::before {
    content: 'c';
}

.amp-quiz-option-selected:not([correct]) {
    background-color: red;
}

.amp-quiz-option-selected:not([correct])::before {
    content: 'x';
}

.amp-quiz-option-not-selected {
    filter: brightness(50%);
}

.amp-quiz-option-not-selected[correct] {
    background-color: green;
}

/*# sourceURL=/extensions/amp-quiz/0.1/amp-quiz.css*/
