amp-story-subscriptions {
  position: absolute !important;
  display: flex !important;
  flex-direction: column !important;
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 1 !important; /** Above the desktop navigation UI. */
  transform: translateY(100vh) !important;
  transition-delay: 0.15s !important;
  pointer-events: none !important;
}

amp-story-subscriptions.i-amphtml-story-subscriptions-visible {
  transform: translateY(0) !important;
  transition-delay: 0s !important;
}

/** Black opacity overlay. Only on blocking subscription dialog. */
amp-story-subscriptions::before {
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  width: 100% !important;
  background: #000000 !important;
  opacity: 0 !important;
  pointer-events: auto !important;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1) !important;
}

amp-story-subscriptions.i-amphtml-story-subscriptions-visible::before {
  opacity: 0.55 !important;
  transition: opacity 0.2s cubic-bezier(0, 0, 0.2, 1) !important;
}

/** Make the dialog wrapper from amp-subscriptions round corner. */
amp-subscriptions-dialog.i-amphtml-story-subscriptions-dialog-wrapper {
  border-radius: 16px 16px 0px 0px !important;
  font-family: Poppins, sans-serif !important;
  background: white !important;
  color: black !important;
}

.i-amphtml-story-subscriptions-dialog-banner {
  position: relative !important;
  width: 100% !important;
  border-radius: 16px 16px 0px 0px !important;
  font-size: 24px !important;
  text-align: center !important;
  height: 44px !important;
  background: #EDEDED !important;
}

.i-amphtml-story-subscriptions-dialog-content {
  position: relative !important;
  margin: 28px 28px 24px 28px !important;
}

.i-amphtml-story-subscriptions-publisher-text {
  position: relative !important;
  margin-bottom: 41px !important;
}

.i-amphtml-story-subscriptions-price, .i-amphtml-story-subscriptions-title,
.i-amphtml-story-subscriptions-subtitle-first, .i-amphtml-story-subscriptions-subtitle-second {
  overflow: hidden !important;
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.i-amphtml-story-subscriptions-price {
  width: 100% !important;
  font-size: 24px !important;
  margin-top: 28px !important;
  letter-spacing: -0.4px !important;
  height: 41px !important;
}

.i-amphtml-story-subscriptions-title {
  width: 100% !important;
  font-weight: bold !important;
  font-size: 20px !important;
  letter-spacing: -0.25px !important;
  height: 41px !important;
}

.i-amphtml-story-subscriptions-subtitle-first, .i-amphtml-story-subscriptions-subtitle-second {
  width: 100% !important;
  font-style: normal !important;
  font-size: 16px !important;
  letter-spacing: -0.25px !important;
  height: 22px !important;
}

.i-amphtml-story-subscriptions-button-container {
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: column !important;
  margin-bottom: 40px !important;
  height: 92px !important;
  font-family: Google Sans, sans-serif !important;
}

.i-amphtml-story-subscriptions-publisher-button-container, .i-amphtml-story-subscriptions-google-button-container {
  display: flex !important;
  justify-content: center !important;
}

.i-amphtml-story-subscriptions-publisher-button {
  display: flex !important;
  justify-content: center !important;

  width: 212px !important;
  height: 40px !important;
  
  background: black !important;
  border-radius: 51px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.i-amphtml-story-subscriptions-publisher-logo {
  margin-right: 11px !important;
  width: 27px !important;
  height: 27px !important;
  border-radius: 50% !important;
  margin-left: -16px !important;
}

.i-amphtml-story-subscriptions-publisher-button-text {
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;

  color: white !important;
  font-size: 13px !important;
}

/* TODO: replace this with a single svg file since this is a static button */
.i-amphtml-story-subscriptions-google-button {
  display: flex !important;
  justify-content: center !important;

  width: 212px !important;
  height: 40px !important;
  
  background: #F2F2F2 !important;
  border-radius: 51px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 13px !important;
}

.i-amphtml-story-subscriptions-signin {
  display: flex !important;
  justify-content: center !important;
  height: 20px !important;
  margin-bottom: 24px !important;
  font-size: 12px !important;
}

.i-amphtml-story-subscriptions-signin a {
  text-decoration: underline !important;
  font-weight: bold !important;
}
