

.i-amphtml-ad-overlay-container {
  align-items: center !important;
  display: flex !important;
  height: 48px !important;
  left: 0 !important;
  justify-content: center !important;
  pointer-events: none !important;
  position: absolute !important;
  top: 0 !important;
  width: 48px !important;
  z-index: 100001 !important;
}

.i-amphtml-ad-overlay-container[dir='rtl'] {
  left: auto !important;
  right: 0 !important;
}

.i-amphtml-story-ad-badge-svg {
  top: 50%  !important;
  left: 50% !important;
  position: relative !important;
  transform: translate(-50%, -50%) !important;
}

.i-amphtml-story-ad-badge {
  height: 24px !important;
  opacity: 0 !important;
  width: 24px !important;
  visibility: hidden !important;
}

[dir='rtl'] .i-amphtml-story-ad-badge {
  margin-left: 0px !important;
  margin-right: 16px !important;
}

[ad-showing] .i-amphtml-story-ad-badge {
  visibility: visible !important;
  opacity: 1 !important;
}

.i-amphtml-ad-overlay-container[desktop-one-panel] {
  top: var(--i-amphtml-story-desktop-one-panel-responsive-margin) !important;
  /* Calculates position by factoring in page width. */
  left: calc(50vw - var(--i-amphtml-story-desktop-one-panel-width) / 2) !important;
}
