.i-amphtml-story-desktop-fullbleed .i-amphtml-cta-container {
  /* Ad will be 75vh, align bottom of container to bottom of ad. */
  bottom: 12.5vh !important;
  /* 80% (default) - 12.5 (new bottom)*/
  top: 67.5% !important;
}

.i-amphtml-glass-pane {
  height: 100% !important;
  width: 100% !important;
  z-index: 1 !important;
  pointer-events: auto !important;
}

amp-story-page[xdomain-ad] .i-amphtml-glass-pane {
  height: 80% !important;
}

amp-story-page amp-ad iframe {
  width: 100%;
  height: 100%;
}

/* TODO(ccordry): refactor centering logic in amp-ad.css and remove this hack.  */
amp-story-page amp-ad[data-a4a-upgrade-type='amp-ad-network-doubleclick-impl'],
amp-story-page amp-ad[type='adsense'] {
  top: 0 !important;
  left: 0 !important;
  transform: translate(0) !important;
}

/* TODO(ccordry) allow advertisers to opt-in to fullscreen ads. */
.i-amphtml-story-desktop-fullbleed
  amp-story-grid-layer[template="fill"]
  > amp-ad {
  left: 50% !important;
  right: auto !important;
  margin: auto !important;
  min-height: 75vh !important;
  max-height: 75vh !important;
  min-width: calc(3 / 5 * 75vh) !important;
  max-width: calc(3 / 5 * 75vh) !important;
  transform: translateX(-50%) !important;
}
