

.i-amphtml-story-ad-attribution {
  position: absolute;
  bottom: 0 !important;
  left: 0 !important;
  max-height: 15px !important;
  /* 1 greater than cta layer. */
  z-index: 4 !important;
}

.i-amphtml-story-ad-fullbleed.i-amphtml-story-ad-attribution {
  /* Ad will be 75vh, align bottom of icon to bottom of ad. */
  bottom: 12.5vh !important;
  left: 50% !important;
  transform: translateX(-22.5vh) !important;
}
