

.i-amphtml-story-ad-progress-background {
  background: hsla(0, 0%, 100%, 0.4) !important;
  border-radius: 1px !important;
  height: 2px !important;
  left: 4px !important;
  margin: 4px auto !important;
  opacity: 0 !important;
  position: absolute !important;
  width: calc(100% - 8px) !important;
  visibility: hidden !important;
  z-index: 100001 !important;
}

.i-amphtml-story-ad-progress-background[ad-showing] {
  opacity: 1 !important;
  visibility: visible !important;
}

.i-amphtml-story-ad-progress-background[desktop-panels] {
  /* On desktop a story page has a width of 45vh. */
  /* And a height of 75 vh. */
  left: calc(50vw - 22.5vh + 4px) !important;
  top: 12.5vh !important;
  width: calc(45vh - 8px) !important;
  /* Have to wait for page to slide in. */
  transition: opacity 0.1s linear 0.3s;
}

.i-amphtml-story-ad-progress-background[desktop-one-panel] {
  top: var(--i-amphtml-story-desktop-one-panel-responsive-margin) !important;
  /* Calculates position by factoring in page width. */
  left: calc(50vw - var(--i-amphtml-story-desktop-one-panel-width) / 2 + 4px) !important;
  width: calc(var(--i-amphtml-story-desktop-one-panel-width) - 8px) !important;
}

.i-amphtml-story-ad-progress-bar {
  background: #fff !important;
  height: 2px !important;
}

[ad-showing] .i-amphtml-story-ad-progress-bar {
  animation: grow linear;
}

[paused] .i-amphtml-story-ad-progress-bar {
  animation-play-state: paused;
}

@keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
