.i-amphtml-fullscreen {
    position: fixed !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.i-amphtml-float-active {
    position: fixed !important;
}