

:host {
  padding: 0 !important;
  border: none !important;
}

:host([i-amphtml-truncate-expanded]) {
  height: auto !important;
}

:host([i-amphtml-truncate-expanded]) ::slotted(i-amphtml-sizer) {
  display: none !important;
}

:host([i-amphtml-truncate-expanded]) .content {
  position: static;
}

:host(:not([i-amphtml-truncate-expanded])) .expanded-slot {
  display: none;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.expand-slot::slotted(*) {
  margin: 0 !important;
  white-space: nowrap !important;
}

:host(:not([i-amphtml-truncate-overflow])) .collapsed-slot {
  display: none;
}

::slotted([i-amphtml-truncate-child-overflow]) {
  display: none !important;
}
