

amp-truncate-text {
  padding: 0 !important;
  border: none !important;
}

amp-truncate-text[i-amphtml-truncate-expanded] {
  height: auto !important;
}
amp-truncate-text[i-amphtml-truncate-expanded] > i-amphtml-sizer {
  display: none !important;
}

amp-truncate-text[i-amphtml-truncate-expanded] .i-amphtml-truncate-content {
  position: static !important;
}

amp-truncate-text:not([i-amphtml-truncate-expanded]) .i-amphtml-truncate-expanded-slot {
  display: none !important;
}

.i-amphtml-truncate-content {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}

.i-amphtml-truncate-content [slot="expanded"] {
  margin: 0 !important;
  white-space: nowrap !important;
}

.i-amphtml-truncate-content:not([i-amphtml-truncate-overflow]) .i-amphtml-truncate-collapsed-slot {
  display: none !important;
}

[i-amphtml-truncate-child-overflow] {
  display: none !important;
}
