amp-story-captions {
  white-space: pre-wrap;
}

.amp-story-captions-cue-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 94px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.amp-story-captions-cue {
  font-family: 'Roboto', sans-serif !important;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border-radius: 15px; 
  padding: 4px 14px;
  backdrop-filter: blur(20px);
  background: rgba(0,0,0,.45);
  max-width: calc(100% - 28px);
}

.amp-story-captions-cue-future {
  color: gray;
}
