.i-amphtml-story-navigation-help-overlay {
  position: absolute!important;
  left: 0!important;
  top: 0!important;
  height: 100%!important;
  width: 100%!important;
  background: rgba(0,0,0,0.7)!important;
  display: none!important;
  pointer-events: none!important;
  flex-direction: row!important;
  color: #fff!important;
}

.i-amphtml-story-navigation-help-section{
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  flex-direction: column!important;
}

.i-amphtml-story-navigation-help-first-page {
  flex: 1!important;
}

.i-amphtml-story-navigation-help-first-page .i-amphtml-story-hint-text {
  padding: 16px!important;
}

.i-amphtml-story-navigation-help-next-page {
  flex: 3!important;
  border-left: 1px dashed white!important;
}

.show-navigation-overlay .i-amphtml-story-navigation-help-overlay {
  display: flex!important;
}

.i-amphtml-story-hint-tap-icon {
  position: relative!important;
  width: 50px!important;
  height: 50px!important;
}

.i-amphtml-story-hint-tap-icon:before, .i-amphtml-story-hint-tap-icon:after {
  position: absolute!important;
  content: ''!important;
  width: 50px!important;
  height: 50px!important;
  border-radius: 50%!important;
  background-color: rgba(255, 255, 255, 0.5)!important;
}

.i-amphtml-story-hint-tap-icon:before {
  animation: expandingBubble 800ms infinite ease-out;
}

.i-amphtml-story-hint-tap-icon:after {
  background-color: #fff!important;
}

.i-amphtml-story-hint-tap-icon-text {
  margin-top: 16px!important;
}

@keyframes expandingBubble {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}

