@import url(./amp-inline-gallery-pagination.css);

/* Pre-upgrade: display:block element */
amp-inline-gallery,
amp-inline-gallery-pagination,
amp-inline-gallery-thumbnails {
  display: block;
}

/* Pre-upgrade: contain:layout element */
amp-inline-gallery {
  contain: layout;
}

/* Pre-upgrade: size-defined element */
amp-inline-gallery-pagination,
amp-inline-gallery-thumbnails {
  overflow: hidden;
  position: relative;
}

/* Pre-upgrade: size-defining element - hide children. */
amp-inline-gallery-pagination:not(.i-amphtml-built)
  > :not([placeholder]):not([slot='i-amphtml-svc']),
amp-inline-gallery-thumbnails:not(.i-amphtml-built)
  > :not([placeholder]):not([slot='i-amphtml-svc']) {
  display: none;
  content-visibility: hidden;
}
