amp-compare-slider {   
}

/* amp-compare-slider img {
  object-fit: cover;
} */

.i-amphtml-compare-slider-container-left {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.i-amphtml-compare-slider-container-right {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.i-amphtml-compare-slider-mask-left {
  position: relative;
  width: 100%;
  right: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.i-amphtml-compare-slider-mask-right {
  overflow: hidden;
  z-index: 0;
}

.i-amphtml-compare-slider-image-left img {
  overflow: hidden;
  z-index: 1;
  left: 50% !important; /* hack! */
}

.i-amphtml-compare-slider-image-right img {
  overflow: hidden;
  z-index: 0;
}

.i-amphtml-compare-slider-bar-wrapper {
  position: absolute;
  height: 100%;
  left: 50%;
  overflow: visible;
  z-index: 2;
}

.i-amphtml-compare-slider-bar {
  position: absolute;
  border: 2px gray solid;
  height: 100%;
  background-color: gray;
  transform: translate(-50%);
}

.i-amphtml-compare-slider-drag-button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translate(-50%);
  background-color: white;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;

  z-index: 3;
}
