/*
 * Pre-upgrade:
 * - display:block element
 * - size-defined element
 */
 amp-dailymotion {
  display: block;
  overflow: hidden;
  position: relative;
}

/* Pre-upgrade: size-defining element - hide children. */
amp-dailymotion:not(.i-amphtml-built) > :not([placeholder]):not([slot="i-amphtml-svc"]) {
  display: none;
  content-visibility: hidden;
}
