<!--
  Test Description:
  Tests for the amp-story-embedded-component
-->
<!doctype html>
<html ⚡ lang="en">
<head>
  <meta charset="utf-8">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>
  <title>My Story</title>
  <meta name="description" content="Get started with amp-story">
  <link rel="canonical" href="validator-amp-story-embedded-component-error.html">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
</head>
<body>
  <amp-story standalone title="My Story" publisher="Me" publisher-logo-src="http://me.com/logo.png" poster-portrait-src="http://me.com/poster.jpg">
    <amp-story-page id="fill-template-title">
      <amp-story-grid-layer template="vertical">
        <a href="google.com" role="link" data-tooltip-icon="javascript:alert('hello evil')" data-tooltip-text="click me" target="_blank">TOOLTIP</a>
        <a href="javascript:alert('hello evil world')" role="link" data-tooltip-icon="/my-icon" data-tooltip-text="click me" target="">TOOLTIP</a>
      </amp-story-grid-layer>
      <amp-story-grid-layer template="vertical">
          <a href="google.com" role="link" data-tooltip-icon="/my-icon" data-tooltip-text="click me" target="_top">TOOLTIP</a>
          <a href="google.com" role="link" data-tooltip-icon="/my-icon" data-tooltip-text="click me" target="_self">TOOLTIP</a>
        </amp-story-grid-layer>
    </amp-story-page>
  </amp-story>
</body>
</html>
