

/* Pre-upgrade: not displayed */
bento-lightbox[hidden] {
  display: none !important;
}

bento-lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  /* Note: visibility: hidden is applied to this layer to allow the
     Preact layer to fully control animation transitions. */
  visibility: hidden;
}

bento-lightbox::part(lightbox) {
  /* Note: background should be applied/inherited by all elements
    in amp-lightbox > c > [part=lightbox] because:
     - amp-lightbox does not show a background due to visibility: hidden
     - c does not paint a background due to display: contents
     - therefore only [part] visibly applies the background value */
  background: inherit;
  color: inherit;
}
