

/** Remote attachment styles. */

:host {
  visibility: inherit !important; /* Will propagate visibility of drawer to shadow dom for a11y */
}

.i-amphtml-story-page-attachment-remote {
  height: 56px !important;
  bottom: 0 !important;
  top: auto !important;
  --i-amphtml-outlink-cta-background-color: white !important;
  --i-amphtml-outlink-cta-text-color: black !important;
}

[theme="dark"].i-amphtml-story-page-attachment-remote {
  --i-amphtml-outlink-cta-background-color: black !important;
  --i-amphtml-outlink-cta-text-color: white !important;
}

amp-story[desktop] .i-amphtml-story-page-attachment-remote  {
  /* Shows outlink url preview on mobile only. */
  display: none !important;
}

.i-amphtml-story-page-attachment-remote > a:first-child {
  /* Hides the element child in amp-story-page-outlink which is always the first direct child a element. */
  display: none !important;
}

.i-amphtml-story-page-attachment-remote .i-amphtml-story-draggable-drawer-container {
  height: 100% !important;
  border-radius: 8px 8px 0 0 !important;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.12) !important;
}

.i-amphtml-story-page-attachment-remote-content {
  display: flex !important;
  padding: 0 24px !important;
  align-items: center !important;
  color: rgba(0, 0, 0, 0.87) !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px !important;
  justify-content: space-between !important;
  line-height: 48px !important;
  text-decoration: none !important;
  height: 56px !important;
  padding-inline-start: 12px !important;
  padding-inline-end: 18px !important;
  background: var(--i-amphtml-outlink-cta-background-color) !important;
}


.i-amphtml-story-page-attachment-remote-content .i-amphtml-story-page-attachment-remote-img,
.i-amphtml-story-page-attachment-remote-content .i-amphtml-story-page-open-attachment-link-icon {
  width: 32px !important;
  height: 32px !important;
  flex-shrink: 0 !important;
  padding: 0px !important;
  border-radius: 50% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  overflow: hidden !important;
}

.i-amphtml-story-page-open-attachment-link-icon {
  fill: var(--i-amphtml-outlink-cta-text-color) !important;
}

.i-amphtml-story-page-attachment-remote-title {
  max-width: calc(100% - 30px /* 24px icon + 6px margin */) !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  font-size: 14px !important;
  padding: 0 12px !important;
  color: var(--i-amphtml-outlink-cta-text-color) !important;
  /* For RTL support. */
  display: flex !important;
}

.i-amphtml-story-page-attachment-remote-title :first-child {
  font-weight: bold !important;
}

.i-amphtml-story-page-attachment-remote-title :first-child:after {
  /* For RTL supportted space. */
  content: "\00a0 " !important;
}

.i-amphtml-story-page-attachment-remote-title :nth-child(2) {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.i-amphtml-story-page-attachment-remote-icon {
  display: block !important;
  height: 20px !important;
  width: 20px !important;
  padding: 0px !important;
  margin-inline-start: auto !important;
  flex-shrink: 0 !important;
  fill: var(--i-amphtml-outlink-cta-text-color) !important;
}

/** Remote attachment opening animation */

.i-amphtml-story-page-attachment-expand {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  background: #FFF !important;
  z-index: 100000 !important; /** System layer + 1 */
  animation: i-amphtml-open-3p-attachment 120ms cubic-bezier(0.0, 0.0, 0.2, 1) forwards !important;
}

@keyframes i-amphtml-open-3p-attachment {
 0% {
  transform: scaleX(0);
  opacity: 0.3;
 }
 100% {
  transform: scaleX(1);
  opacity: 1;
 }
}

/** Page attachment form submissions state styles. */

.i-amphtml-story-page-attachment-form-submission-status {
  align-items: center !important;
  background: #FFFFFF !important;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  border-radius: 12px !important;
  box-sizing: border-box !important;
  display: flex !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px !important;
  font-weight: bold !important;
  height: 54px !important;
  margin: 16px 0px !important;
  width: 100% !important;
  --i-amphtml-story-page-attachment-form-submission-status-icon-height: 26px !important;
}

[theme="dark"] .i-amphtml-story-page-attachment-form-submission-status {
  background: #202125 !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

[submit-success] .i-amphtml-story-page-attachment-form-submission-status {
  color: #0F8514 !important;
}

[submit-error] .i-amphtml-story-page-attachment-form-submission-status {
  color: #DE3333 !important;
}

@keyframes submission-status-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[submitting] .i-amphtml-story-page-attachment-form-submission-status,
.i-amphtml-story-page-attachment-form-submission-status div {
  /* The entire [submitting] div will fade in along with its border, after which only the contents
  of the [submit-success] and [submit-error] divs will fade in. */
  animation: submission-status-fade-in 0.3s !important;
}

.i-amphtml-story-page-attachment-form-submission-status-icon {
  height: var(--i-amphtml-story-page-attachment-form-submission-status-icon-height) !important;
  margin: 0px 14px !important;
  width: var(--i-amphtml-story-page-attachment-form-submission-status-icon-height) !important;
}

[submit-success] .i-amphtml-story-page-attachment-form-submission-status-icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26" height="26" fill="none"><rect x="-14" y="-14" width="328" height="54" rx="12" fill="white"/><circle cx="13" cy="13" r="13" fill="#8BDC8F"/><path d="M5.77777 13.8972L10.7342 18.8889L20.2222 9.33334" stroke="black" stroke-width="2.5"/></svg>') !important;
}

[submit-error] .i-amphtml-story-page-attachment-form-submission-status-icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.987 0C5.811 0 0 5.824 0 13C0 20.176 5.811 26 12.987 26C20.176 26 26 20.176 26 13C26 5.824 20.176 0 12.987 0ZM14.3 13C14.3 13.715 13.715 14.3 13 14.3C12.285 14.3 11.7 13.715 11.7 13V7.8C11.7 7.085 12.285 6.5 13 6.5C13.715 6.5 14.3 7.085 14.3 7.8V13ZM14.3 18.2C14.3 18.915 13.715 19.5 13 19.5C12.285 19.5 11.7 18.915 11.7 18.2C11.7 17.485 12.285 16.9 13 16.9C13.715 16.9 14.3 17.485 14.3 18.2Z" fill="#FF5252"/></svg>') !important;
}

.i-amphtml-story-page-attachment-form-submission-status .i-amphtml-story-spinner {
  height: var(--i-amphtml-story-page-attachment-form-submission-status-icon-height) !important;
  margin: 0 auto !important;
  position: relative !important;
  width: var(--i-amphtml-story-page-attachment-form-submission-status-icon-height) !important;

  /* Overriding default spinner values. */
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

.i-amphtml-story-page-attachment-form-submission-status .i-amphtml-story-spinner-layer {
  color: black !important;

  /* Overriding default spinner values. */
  filter: none !important;
}

[theme="dark"] .i-amphtml-story-page-attachment-form-submission-status .i-amphtml-story-spinner-layer {
  color: white !important;
}
