

@import './amp-story-desktop-user-overridable.css';

amp-story[standalone] {
  background-color: black;
}

/**
 * NOTE: If you change any variables or media queries change:
 * css/amp-story-player-shadow.css
 */

@media(min-aspect-ratio: 3/4) {
  /** Variables shared between page, system layer and pagination buttons. */
  :root:not([data-story-supports-landscape]) {
    --i-amphtml-story-desktop-one-panel-ratio: 69 / 116;
    --i-amphtml-story-desktop-one-panel-responsive-margin: max(74px, 8.25vh);
    /** Calculates panel height by subtracting responsive vertical margin. */
    --i-amphtml-story-desktop-one-panel-height: calc(100vh - var(--i-amphtml-story-desktop-one-panel-responsive-margin) * 2);
    --i-amphtml-story-desktop-one-panel-width: calc(var(--i-amphtml-story-desktop-one-panel-height) * var(--i-amphtml-story-desktop-one-panel-ratio));
    --i-amphtml-story-desktop-one-panel-border-radius: 10px;
    font-size: calc(var(--i-amphtml-story-desktop-one-panel-height, 100vh) * .025);
  }

  @media(max-height: 756px) {
    :root:not([data-story-supports-landscape]) {
      --i-amphtml-story-desktop-one-panel-responsive-margin: 0;
      --i-amphtml-story-desktop-one-panel-width: calc(100vh * var(--i-amphtml-story-desktop-one-panel-ratio));
      --i-amphtml-story-desktop-one-panel-border-radius: 0;
    }
  }

  @media(max-height: 538px) {
    :root:not([data-story-supports-landscape]) {
      --i-amphtml-story-desktop-one-panel-ratio: 3 / 4;
    }
  }
  amp-story:not([supports-landscape]) {
    --story-page-vw: calc(var(--i-amphtml-story-desktop-one-panel-width) * .01);
    --story-page-vh: calc(var(--i-amphtml-story-desktop-one-panel-height) * .01);
  }
  amp-story:not([supports-landscape]) amp-story-page {
    width: var(--i-amphtml-story-desktop-one-panel-width) !important;
    height: var(--i-amphtml-story-desktop-one-panel-height) !important;
    border-radius: var(--i-amphtml-story-desktop-one-panel-border-radius) !important;
    margin: auto !important;
  }
}
