

.i-amphtml-story-unsupported-browser-overlay {
  position: absolute !important;
  z-index: 20000001 !important; /** no-rotation-overlay + 1 */
  font-family: 'Roboto', sans-serif;
  font-weight: 700 !important;
  line-height: 1.5;
  padding: 32px;
  background-color: #000 !important;
  color: #fff!important;
  top:0 !important;
  left:0 !important;
  right:0 !important;
  bottom:0 !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  display: flex !important;
  color: #fff !important;
}

.i-amphtml-gear-icon {
  background-repeat: no-repeat!important;
  background-position: center center!important;
  border-radius: 50%!important;
  background-color: #fff!important;
  padding: 16px!important;
  height: 24px!important;
  width: 24px!important;
  margin: 16px auto!important;
}

.i-amphtml-gear-icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20"><path fill="none" d="M0 0h20v20H0V0z"/><path d="M16 10.8V9.2L17.5 8c.2-.1.2-.3.1-.5l-1.6-2.8c0-.2-.3-.2-.5-.2l-2 .8-1.3-.7-.3-2.2c0-.2-.2-.3-.4-.3H8.4c-.2 0-.4.1-.4.3l-.3 2.2a6 6 0 0 0-1.3.7l-2-.8c-.2 0-.4 0-.5.2L2.3 7.4v.5l1.8 1.3a5 5 0 0 0 0 1.6L2.4 12c-.2.1-.2.3-.1.5l1.6 2.8c0 .2.3.2.5.2l2-.8 1.3.7.3 2.2c0 .2.2.3.4.3h3.2c.2 0 .4-.1.4-.3l.3-2.2a6 6 0 0 0 1.3-.7l2 .8c.2 0 .4 0 .5-.2l1.6-2.8v-.5L16 10.8zM10 13c-1.6 0-3-1.4-3-3s1.4-3 3-3 3 1.4 3 3-1.4 3-3 3z"/></svg>')!important;
}

.i-amphtml-continue-button {
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: 400 !important;
  font-size: 16px;
  background: #fff;
  padding: 10px 20px 10px 20px;
  border: solid #aaa 2px;
  text-decoration: none;
  display: block;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}
