

@import './amp-story-share.css';


.i-amphtml-story-system-layer {
  background: linear-gradient(180deg, #0004, #0002 33%, #0001 67%, #0000) !important;
  position: absolute !important;
  display: flex !important;
  justify-content: space-between !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: calc(var(--story-page-vh) * 15) !important;
  z-index: 100000 !important;
  transition: opacity 0.3s cubic-bezier(0.0, 0.0, 0.2, 1) !important;
  pointer-events: none !important;
  font-family: 'Roboto', sans-serif !important;
}

[desktop] .i-amphtml-story-system-layer {
  height: 96px !important;
}

.i-amphtml-story-hidden.i-amphtml-story-system-layer {
  opacity: 0 !important;
  transition: opacity 0.15s cubic-bezier(0.4, 0.0, 1, 1) !important;
}

.i-amphtml-story-hidden.i-amphtml-story-system-layer * {
  pointer-events: none !important;
}

.i-amphtml-story-attribution {
  top: 0 !important;
  border: none !important;
  pointer-events: auto !important;
  cursor: pointer !important;
  padding: 6px 8px 0 !important;
  height: 48px !important;
  place-items: center !important;
  display: flex !important;
  text-decoration: none !important;
  overflow: hidden !important;
  visibility: hidden !important;
}

.i-amphtml-story-attribution-visible {
  visibility: visible !important;
}

[desktop] .i-amphtml-story-attribution {
  padding: 6px 6px 0 !important;
  left: 0 !important;
  right: 0 !important;
}

.i-amphtml-story-attribution > * {
  margin: 0px 4px !important;
}

.i-amphtml-story-attribution-logo-container {
  display: grid !important;
  place-items: center !important;
}

.i-amphtml-story-attribution-logo {
  border-radius: 100% !important;
  border: 1px solid #D4D4D4 !important;
  width: 28px !important;
  height: 28px !important;
  object-fit: cover !important;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12) !important;
}

.i-amphtml-story-attribution-text {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16) !important;
  color: #FFFF !important;
}

.i-amphtml-story-system-layer-buttons,
.i-amphtml-story-system-layer-buttons-start-position {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  padding-top: 6px !important;
  box-sizing: border-box !important;
}

.i-amphtml-story-system-layer-buttons-start-position {
  position: absolute !important;
  top: 0 !important;
  justify-content: flex-start !important;
}

[desktop] .i-amphtml-story-system-layer-buttons {
  padding: 8px 4px 0 !important;
}

.i-amphtml-story-system-layer-buttons .i-amphtml-story-ui-hide-button.i-amphtml-story-button {
  display: none !important;
}

.i-amphtml-story-button {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  height: 48px !important;
  width: 48px !important;
  cursor: pointer !important;
  border: none !important;
  pointer-events: auto !important;
  /* for svg backgrounds: */
  background: center center no-repeat !important;
}

[desktop] .i-amphtml-story-button {
  margin: 0 4px !important;
  background-size: 32px 32px !important;
  padding: 8px !important;
}

.i-amphtml-story-button:active {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.i-amphtml-story-progress-bar {
  border: 0 !important;
  display: flex !important;
  height: 2px !important;
  left: 0 !important;
  margin: 4px 0 0 !important;
  padding: 0 2px !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  visibility: visible !important;
  z-index: 100001 !important;
}

/* TODO(#33969): clean up when ad progress bar is finalized. */
[ad-showing] .i-amphtml-story-progress-bar:not([i-amphtml-ad-progress-exp]),
[ad-showing] .i-amphtml-story-attribution {
  visibility: hidden !important;
}

[ad-showing] .i-amphtml-story-share-control {
  display: none !important;
}

[ad-showing]:not([i-amphtml-current-page-has-audio])
.i-amphtml-story-mute-audio-control,
[ad-showing]:not([i-amphtml-current-page-has-audio])
.i-amphtml-story-unmute-audio-control {
  visibility: hidden !important;
}

.i-amphtml-story-page-progress-bar {
  background: rgba(255, 255, 255, 0.4) !important;
  border-radius: 1px !important;
  height: 100% !important;
  list-style-type: none !important;
  margin: 0 2px !important;
  overflow: hidden !important;
  width: 100% !important;
}

.i-amphtml-story-page-progress-value {
  /* Do not remove `translateZ(0)` as it prevents an iOS repaint issue. */
  background: rgba(255, 255, 255, 1) !important;
  height: 100% !important;
  width: 100% !important;
  transform: translateZ(0) scaleX(0) !important; /* 0-width by default */
  transform-origin: left !important;
}

.i-amphtml-story-ad-progress-value {
  animation-name: i-amphtml-story-ad-value !important;
  animation-timing-function: linear !important;
  background-color: #fbc02d !important;
  height: 100% !important;
  position: relative !important;
  top: -100% !important;
  transform-origin: left !important;
  width: 100% !important;
}

@keyframes i-amphtml-story-ad-value {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

[paused] .i-amphtml-story-ad-progress-value {
  animation-play-state: paused !important;
}

[dir=rtl] .i-amphtml-story-page-progress-value,
[dir=rtl] .i-amphtml-story-ad-progress-value {
  transform-origin: right !important;
}

.i-amphtml-first-page-active[info] .i-amphtml-message-container {
  /* 48px for info button, add width to padding for additional story buttons. */
  padding-right: 48px !important;
}

.i-amphtml-first-page-active[info][dir=rtl] .i-amphtml-message-container {
  /* 48px for info button, add width to padding for additional story buttons. */
  padding-right: auto !important;
  padding-left: 48px !important;
}

.i-amphtml-message-container {
  display: flex !important;
  align-items: center !important;
  width: max-content !important;
  transition-property: opacity, transform !important;
  position: absolute !important;
  top: 0 !important;
  right: 48px !important;
  height: 100% !important;
  color: #fff !important;
  font-size: 16px !important;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.36) !important;
}

[dir=rtl] .i-amphtml-message-container {
  right: auto !important;
  left: 48px !important;
}

[i-amphtml-story-messagedisplay="noshow"] .i-amphtml-message-container {
  transition: opacity 0.2s cubic-bezier(0.4, 0.0, 1, 1), visibility 0.2s, transform 0.0s 0.2s !important;
  opacity: 0 !important;
  visibility: hidden !important;
  transform: translateX(10px) !important;
}

[i-amphtml-story-has-new-page="noshow"] .i-amphtml-story-has-new-page-notification-container {
  transition: opacity 1.5s, visibility 1.5s !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

.i-amphtml-last-page-active[i-amphtml-story-has-new-page="show"] .i-amphtml-story-has-new-page-notification-container {
  transition: opacity 1.5s, visibility 1.5s !important;
  opacity: 1 !important;
  visibility: visible !important;
}

[dir=rtl][i-amphtml-story-messagedisplay="noshow"] .i-amphtml-message-container {
  transform: translateX(-10px) !important;
}

[i-amphtml-story-messagedisplay="show"] .i-amphtml-message-container {
  transition: opacity 0.2s cubic-bezier(0.0, 0.0, 0.2, 1), visibility 0.2s, transform 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) !important;
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateX(0px) !important;
}

.i-amphtml-story-mute-text,
.i-amphtml-story-unmute-sound-text,
.i-amphtml-story-unmute-no-sound-text {
  width: max-content !important;
  color: #fff !important;
}

.i-amphtml-story-sound-display {
  display: inline-block !important;
  height: 46px !important;
  position: relative !important;
}

.i-amphtml-story-no-audio-ui .i-amphtml-story-sound-display {
  display: none !important;
}

.i-amphtml-story-mute-audio-control,
.i-amphtml-story-unmute-audio-control,
.i-amphtml-paused-display,
.i-amphtml-story-pause-control,
.i-amphtml-story-play-control,
.i-amphtml-story-mute-text,
.i-amphtml-story-unmute-sound-text,
.i-amphtml-story-unmute-no-sound-text,
.i-amphtml-story-skip-to-next,
.i-amphtml-story-captions-control,
.i-amphtml-story-nocaptions-control {
  display: none !important;
}

.i-amphtml-story-has-audio:not([muted]) .i-amphtml-story-mute-audio-control,
.i-amphtml-story-has-audio[muted] .i-amphtml-story-unmute-audio-control {
  display: block !important;
}

.i-amphtml-page-has-captions:not([captions-on]) .i-amphtml-story-nocaptions-control,
.i-amphtml-page-has-captions[captions-on] .i-amphtml-story-captions-control {
  display: block !important;
}

[desktop] .i-amphtml-paused-display,
.i-amphtml-story-desktop-one-panel .i-amphtml-paused-display {
  display: block !important;
}

.i-amphtml-story-system-layer-buttons button[disabled][disabled] {
  display: none !important;
}

.i-amphtml-story-has-playback-ui:not([paused]) .i-amphtml-story-pause-control,
.i-amphtml-story-has-playback-ui[paused] .i-amphtml-story-play-control {
  display: block !important;
  background-size: 110% !important;
}

.amp-mode-keyboard-active:not([desktop]) .i-amphtml-paused-display {
  display: block !important;
}

.i-amphtml-story-system-layer:not([i-amphtml-current-page-has-audio]) .i-amphtml-story-sound-display {
  display: none !important;
}

.i-amphtml-story-ui-no-buttons .i-amphtml-story-button,
.i-amphtml-story-ui-no-buttons .i-amphtml-story-system-layer-buttons {
  visibility: hidden !important;
}

.i-amphtml-story-unmute-audio-control {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" fill="none"><path fill="#fff" d="M28.92 18.29a6 6 0 0 1 4.66 6c0 1.09-.28 2.16-.82 3.1l1.33 1.34a8.05 8.05 0 0 0 1.34-4.44 7.82 7.82 0 0 0-6.15-7.76c-.5-.1-1 .23-1.09.73-.1.53.23.91.73 1.03Z"/><path fill="#fff" d="M31.53 26.04a3.92 3.92 0 0 0-1.9-5.41.95.95 0 0 0-1.2.48c-.19.46.03 1 .48 1.2a2.2 2.2 0 0 1 1.2 2.28l1.42 1.45ZM24.12 17.05v1.56l1.85 1.86v-4.2a1.52 1.52 0 0 0-2.6-1.09l-1.35 1.35 1.31 1.3.8-.78ZM18.12 15.01a.95.95 0 0 0-1.32 0 .94.94 0 0 0 0 1.31l2.74 2.74-.83.83h-2.2a2.64 2.64 0 0 0-2.65 2.64v3.42a2.64 2.64 0 0 0 2.64 2.64h2.21l4.7 4.69c.42.43 1.09.55 1.65.33.56-.23.95-.8.95-1.41V25.5l4.24 4.25c-.38.2-.78.33-1.2.42a.93.93 0 0 0-.77 1c.05.54.6.95 1.13.84a7.54 7.54 0 0 0 2.24-.88l2.4 2.33c.36.34.94.34 1.3 0a.93.93 0 0 0 0-1.3L18.12 15Zm6 16.4-4.68-4.67h-2.97a.8.8 0 0 1-.78-.8v-3.41c0-.21.08-.42.22-.56a.79.79 0 0 1 .56-.24h2.97l1.37-1.36 3.31 3.3v7.75Z"/></svg>') !important;
}

.i-amphtml-story-mute-audio-control {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" fill="none"><path d="M29.1193 17.4007C30.2715 17.6065 34.5781 19.3747 34.5781 24.3217C34.5781 29.2688 30.1915 30.9503 29.1193 31.1453" stroke="#fff" stroke-width="1.9" stroke-linecap="round"/><path d="M29.1193 21.4948C29.4896 21.5776 30.8739 22.2888 30.8739 24.2787C30.8739 26.2686 29.4639 26.945 29.1193 27.0234" stroke="#fff" stroke-width="1.7" stroke-linecap="round"/><path d="M19.0087 27.7347L23.8888 32.6344C24.2979 33.0451 24.9994 32.7554 24.9994 32.1757V24.4304V16.3537C24.9994 15.7724 24.2947 15.4834 23.8866 15.8973L19.0087 20.8436H16.4228C15.4839 20.8436 14.7228 21.6047 14.7228 22.5436L14.7228 25.991C14.7228 26.9187 15.4666 27.6751 16.3942 27.6907L19.0087 27.7347Z" stroke="#fff" stroke-width="1.9" stroke-linecap="round" stroke-linejoin="round"/></svg>') !important;
}

.i-amphtml-story-pause-control {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" fill="none"><rect width="1.8" height="15.6" x="27" y="16.4" fill="#fff" rx=".9"/><rect width="1.8" height="15.6" x="20.5" y="16.4" fill="#fff" rx=".9"/></svg>') !important;
}

.i-amphtml-story-play-control {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" fill="none"><path stroke="#fff" stroke-linecap="round" stroke-width="1.9" d="M18.9 29.4V19c0-1.3 1.4-2 2.5-1.4l8.2 5.3c1 .6 1 2 0 2.7l-8.2 5.3c-1.1.6-2.5-.1-2.5-1.4Z"/></svg>') !important;
}

.i-amphtml-story-share-control {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" fill="none"><path fill="#fff" d="m21.75 25.53 9.87-9.86 1.42 1.42-9.86 9.87z"/><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.9" d="m17.5 19.95 15.33-4.14c.04 0 .07.03.06.06l-4.02 15.34a1.6 1.6 0 0 1-2.97.33l-2.93-5.73-5.77-2.88a1.6 1.6 0 0 1 .3-2.98Z"/></svg>') !important;
}

.i-amphtml-story-info-control {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" fill="none"><rect width="2.22" height="6.66" x="22.95" y="22.85" fill="#fff" rx="1.11"/><path stroke="#fff" stroke-width="1.9" d="M31.72 24.24a7.7 7.7 0 1 1-15.4 0 7.7 7.7 0 0 1 15.4 0Z"/><circle cx="24.02" cy="20.46" r="1.2" fill="#fff"/></svg>') !important;
  display: none !important;
  background-size: auto !important;
}

.i-amphtml-story-close-control {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" fill="none"><rect width="1.84" height="18.84" x="16.88" y="18.23" fill="#fff" rx=".92" transform="rotate(-45 16.88 18.23)"/><rect width="1.84" height="18.84" x="30.2" y="16.93" fill="#fff" rx=".92" transform="rotate(45 30.2 16.93)"/></svg>') !important;
}

.i-amphtml-story-skip-to-next {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" fill="none"><path stroke="#fff" stroke-linecap="round" stroke-width="1.9" d="M17.08 29.3V18.98a1.6 1.6 0 0 1 2.5-1.32l7.55 5.17c.93.63.93 2 0 2.64l-7.55 5.15a1.6 1.6 0 0 1-2.5-1.32Z"/><rect width="1.84" height="15.56" x="30.25" y="16.35" fill="#fff" rx=".92" stroke-linejoin="round"/></svg>') !important;
}

.i-amphtml-story-captions-control {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" fill="none"><path fill="#fff" d="M29.33 15.49H19.5a5.39 5.39 0 0 0-5.37 5.38v6.54a5.38 5.38 0 0 0 5.37 5.36h9.82a5.38 5.38 0 0 0 5.37-5.36v-6.54a5.39 5.39 0 0 0-5.37-5.38Zm.91 6.13h-1.62a1.1 1.1 0 0 0-1.1 1.1v2.81a1.12 1.12 0 0 0 1.1 1.12h1.62c.58 0 1.07.49 1.07 1.07 0 .58-.49 1.07-1.07 1.07h-1.62a3.28 3.28 0 0 1-3.25-3.25v-2.81a3.26 3.26 0 0 1 3.25-3.26h1.62c.54.06.97.53.97 1.08 0 .54-.43 1.01-.97 1.07Zm-8.06 0h-1.61a1.12 1.12 0 0 0-1.12 1.1v2.81a1.12 1.12 0 0 0 1.12 1.12h1.6c.59 0 1.07.49 1.07 1.07 0 .58-.48 1.07-1.06 1.07h-1.61a3.28 3.28 0 0 1-3.25-3.25v-2.81a3.25 3.25 0 0 1 3.25-3.26h1.6c.55.06.97.53.97 1.08a1.1 1.1 0 0 1-.96 1.07Z"/></svg>') !important;
  width: 52px !important;
}

.i-amphtml-story-nocaptions-control {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none"><rect width="18.74" height="15.43" x="14.73" y="16.41" stroke="#fff" stroke-width="1.85" rx="4.42"/><path stroke="#fff" stroke-linecap="round" stroke-width="1.85" d="M22.5 20.51h-1.63a2.2 2.2 0 0 0-2.2 2.2v2.84c0 1.21.98 2.2 2.2 2.2h1.63M29.57 20.51h-1.63a2.2 2.2 0 0 0-2.2 2.2v2.84c0 1.21.98 2.2 2.2 2.2h1.63"/></svg>') !important;
  width: 52px !important;
}

[desktop] .i-amphtml-story-skip-to-next {
  display: block !important;
}

.i-amphtml-story-has-new-page-notification-container {
  display: flex !important;
  position: absolute !important;
  justify-content: center !important;
  z-index: 100002 !important; /* On top of the progress bar. */
  top: 32px !important;
  right: 0 !important;
  left: 0 !important;
  opacity: 0 !important;
}

.i-amphtml-story-has-new-page-text-wrapper {
  background-color: rgba(32, 33, 37, 0.8) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 4px 10px 4px 0 !important;
  border-radius: 5px !important;
}

[dir=rtl] .i-amphtml-story-has-new-page-text-wrapper {
  padding-right: 0 !important;
  padding-left: 10px !important;
}

.i-amphtml-story-has-new-page-text {
  color: #fff !important;
  font-size: 16px !important;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.36) !important;
  font-weight: 700 !important;
}

.i-amphtml-story-has-new-page-circle-icon {
  background: rgba(3, 255, 160, 1) !important;
  border-radius: 50% !important;
  height: 6px !important;
  width: 6px !important;
  position: relative !important;
  box-shadow: 0 0 0 2px rgba(3, 255, 160, 0.5) !important;
  margin: 0px 10px !important;
}

.i-amphtml-embedded.i-amphtml-first-page-active .i-amphtml-story-info-control {
  display: block !important;
}

.i-amphtml-story-no-sharing .i-amphtml-story-share-control,
.i-amphtml-story-no-sharing .i-amphtml-story-info-control {
  display: none !important;
}

.i-amphtml-animate-progress li {
  transition: transform 0.8s cubic-bezier(0.4, 0.0, 0.2, 1) !important;
}

.i-amphtml-progress-bar-overflow.i-amphtml-story-progress-bar {
  width: calc(100% - 4px) !important;
  margin: 4px 2px 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
}

.i-amphtml-story-desktop-fullbleed .i-amphtml-story-progress-bar {
  height: 3px !important;
}

.i-amphtml-progress-bar-overflow .i-amphtml-story-page-progress-bar {
  border-radius: 0px !important;
  list-style: none !important;
  margin: 0 2px !important;
  width: 2px !important;
  position: absolute !important;
  transform-origin: left !important;
}

[dir=rtl].i-amphtml-progress-bar-overflow .i-amphtml-story-page-progress-bar {
  transform-origin: right !important;
}

[desktop] .i-amphtml-progress-bar-overflow .i-amphtml-story-page-progress-bar {
  width: 3px !important;
}

.i-amphtml-story-desktop-one-panel.i-amphtml-story-system-layer {
  width: var(--i-amphtml-story-desktop-one-panel-width) !important;
  margin: auto !important;
  margin-top: var(--i-amphtml-story-desktop-one-panel-responsive-margin) !important;
  border-radius: var(--i-amphtml-story-desktop-one-panel-border-radius) !important;
}
