amp-instagram {
  box-sizing: content-box;
}
.www-component-anchors {
  height: calc(100vh - 112px);
  overflow-y: auto;
}
.www-component-desc pre,
pre, code {
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  font-size: 0.9rem;
  white-space: pre-wrap;
}
.www-component-desc pre,
pre {
  font-size: 14px;
  overflow: scroll;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  word-break: normal;
  line-height: 1.4;
}
pre > code {
  padding: 0;
}
code {
  background: #f9f7f7;
  padding: 2px 4px;
}
.www-component-desc:last-child {
  padding-bottom: 4rem;
}
.www-component-desc > p > amp-img {
  display: block;
  margin: 0 auto;
}
.www-component-desc ol,
.www-component-desc ul {
  list-style:inside;
}
.www-component-desc > pre {
  padding: 1rem;
  font-size: 0.9rem;
  white-space: pre-wrap;
}
.www-component-desc > div,
.www-component-desc > amp-img,
.www-component-desc > amp-iframe,
.www-component-desc > pre {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
  padding: 0;
}
.www-component-desc > pre {
  padding: 1rem;
}
.www-component-desc > .ampstart-card {
  padding: 1rem;
}
@media (max-width: 40rem) {
  .www-component-desc > div,
  .www-component-desc > amp-img,
  .www-component-desc > amp-iframe,
  .www-component-desc > pre {
    margin-left: 0;
    margin-right: 0;
  }
}
.www-header h1 {
  color: #fff;
}
.www-component-desc > pre > code,
.abe-code pre {
  white-space: pre-wrap;
  overflow-x: auto;
  margin: 0;
  max-height: 600px;
  padding: 0;
}
.abe-code pre {
  padding: 1rem;
}
.abe-code-container {
  padding: 0;
  margin: 0;
}
.www-component-desc {
  margin-bottom: 0rem;
}
.www-component-desc:first-child h2 {
  margin-top: 0rem;
}
.www-component-desc h2 {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.abe-code-preview {
  background: #f9f7f7;
  position: relative;
}
.abe-story-preview {
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.story-reload {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  padding: 1rem;
  height: 36px;
  width: 36px;
  background-image: url('data:image/svg+xml;utf8,<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 5V1L7 6l5 5V7c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6H4c0 4.42 3.58 8 8 8s8-3.58 8-8-3.58-8-8-8z"/></svg>');
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-color 100ms ease-in-out;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.story-reload:hover {
  background-color: #E0DEDE;
}
.story-reload:active {
  background-color: #C6C4C4;
}
.abe-story-preview amp-iframe {
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border-radius: 8px;
}
@media (max-width: 650px) {
  .story-reload,
  .abe-story-preview {
    display: none;
  }
}
.abe-preview {
  background: #fff;
}
.abe-preview>h1,
.abe-preview>h2,
.abe-preview>h3,
.abe-preview>h4,
.abe-preview>figure,
.abe-preview>section,
.abe-preview>p {
  padding: 1rem;
}
