{
  "env": {
    "node": true
  },
  "globals": {
    "require": false,
    "process": false,
    "exports": false,
    "it": false,
    "chai": false,
    "expect": false,
    "describe": false,
    "beforeEach": false,
    "afterEach": false,
    "before": false,
    "after": false,
    "assert": false,
    "describes": true,
    "Key": false
  },
  "rules": {
    "local/no-array-destructuring": 0,
    "local/no-destructure-assignment-params": 0,
    "local/no-export-side-effect": 0,
    "local/no-for-of-statement": 0,
    "local/no-has-own-property-method": 0,
    "local/no-module-exports": 0,
    "local/no-rest": 0,
    "local/no-spread": 0,
    "require-jsdoc": 0
  }
}
