{
  "rules": {
    // We include some JSON. It doesn't like dangling commas.
    "comma-dangle": 0,
    // Files in this directory are created by automated processes; line lengths
    // aren't under our control.
    "max-len": 0
  }
}