amp-story-shopping-attachment {
  height: 100% !important;
  width: 100% !important;
  font-family: 'Poppins', sans-serif !important;
}

amp-story-shopping-attachment a {
  text-decoration: none;
}

.amp-story-shopping-plp {
  padding: 0 1em 0;
}

.amp-story-shopping-plp-header {
  font-weight: 600; /* semi bold */
  font-size: calc(var(--story-page-vmin) * 4.5);
  margin-bottom: .8em;
  margin-top: 13px;
}

.amp-story-shopping-plp-cards {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.amp-story-shopping-plp-card {
  cursor: pointer;
  width: calc(50% - .5em);
  margin-bottom: 36px;
}

.amp-story-shopping-plp-card-image {
  border-radius: .875em;
  width: 100%;
}

.amp-story-shopping-plp-card-brand {
  font-weight: 500 !important; /* medium */
  margin-bottom: .33em;
  line-height: .75em;
  font-size: .625em;
}

.amp-story-shopping-plp-card-title {
  font-weight: 600; /* semi bold */
  margin-bottom: .33em;
  line-height: 1em;
  font-size: .875em;
}

.amp-story-shopping-plp-card-price {
  font-weight: 500 !important; /* medium */
  margin-bottom: .33em;
  line-height: 1em;
  font-size: .75em;
}