amp-story-shopping-attachment {
  height: 100% !important;
  width: 100% !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: calc(var(--story-page-vmin) * 3) !important; /* override with ems for pixel perfect layout */
  --shopping-attachment-horizontal-padding: 1.5em;
  --three-percent-overlay: rgba(0,0,0,.03);
}

amp-story-shopping-attachment[theme="dark"] {
  --three-percent-overlay: rgba(255, 255, 255, .03);
}

amp-story-shopping-attachment a {
  text-decoration: none !important;
}

/* PLP (Product Listing Page). */

.i-amphtml-amp-story-shopping-plp {
  padding: 0 var(--shopping-attachment-horizontal-padding) !important;
}

.i-amphtml-amp-story-shopping-plp-header {
  font-weight: 600 !important;
  font-size: 1.5em !important;
  margin-bottom: 1.2em !important;
}

.i-amphtml-amp-story-shopping-plp-cards {
  justify-content: space-between !important;
  display: flex !important;
  flex-wrap: wrap !important;
}

.i-amphtml-amp-story-shopping-plp-card {
  width: calc(50% - var(--shopping-attachment-horizontal-padding) / 2) !important;
  margin-bottom: 3em !important;
  cursor: pointer !important;
}

.i-amphtml-amp-story-shopping-plp-card-image {
  width: 100% !important;
  height: 14.5em !important;
  margin-bottom: 1em !important;
  border-radius: 2em !important;
  background-position: center !important;
  background-repeat: none !important;
  background-size: cover !important;
}

.i-amphtml-amp-story-shopping-plp-card-brand {
  font-weight: 500 !important;
  font-size: .9em !important;
  margin-bottom: 0.3em !important;
  font-size: .9em !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.i-amphtml-amp-story-shopping-plp-card-title {
  font-weight: 600 !important;
  margin-bottom: 0.4em !important;
  line-height: 1.2em !important;
  font-size: 1.25em !important;
}

.i-amphtml-amp-story-shopping-plp-card-price {
  font-weight: 500 !important;
  margin-bottom: .33em !important;
  line-height: 1em !important;
  font-size: 1.1em !important;
}

/* PDP (Product Description Page). */

.i-amphtml-amp-story-shopping-pdp:after {
  content: '' !important;
  display: block !important;
  width: 100% !important;
  height: .75em !important;
  background-color: var(--three-percent-overlay) !important;
}

.i-amphtml-amp-story-shopping-pdp-header {
  margin: 0 var(--shopping-attachment-horizontal-padding) !important;
  display: flex !important;
  justify-content: space-between !important;
}

.i-amphtml-amp-story-shopping-pdp-header-brand {
  font-weight: 500 !important;
  font-size: 1.1em !important;
  line-height: 0.9em !important;
  display: block !important;
}

.i-amphtml-amp-story-shopping-pdp-header-title {
  font-weight: 700 !important;
  font-size: 1.8em !important;
}

.i-amphtml-amp-story-shopping-pdp-header-price {
  font-weight: 500 !important;
  font-size: 1.5em !important;
  margin-top: auto !important;
}

.i-amphtml-amp-story-shopping-pdp-cta {
  --shopping-cta-height: 3.3em;
  display: inline-flex !important;
  padding: 0 1.1em !important;
  align-items: center !important;
  height: var(--shopping-cta-height) !important; 
  border-radius: calc(var(--shopping-cta-height) / 2) !important; 
  color: var(--i-amphtml-draggable-drawer-background-color) !important;
  margin: 0 var(--shopping-attachment-horizontal-padding) 2em !important;
  background: var(--i-amphtml-draggable-drawer-text-color) !important;
}

.i-amphtml-amp-story-shopping-pdp-cta-text {
  font-weight: 500 !important;
  font-size: 1.25em !important;
}

.i-amphtml-amp-story-shopping-pdp-cta-icon {
  display: inline-block !important;
  margin-inline-start: 1em !important;
  width: 1em !important;
  height: 1em !important;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.917 1.917v8.166h8.166V6h1.167v4.083a1.17 1.17 0 0 1-1.167 1.167H1.917A1.166 1.166 0 0 1 .75 10.083V1.917C.75 1.275 1.27.75 1.917.75H6v1.167H1.917zm5.25 0V.75h4.083v4.083h-1.167V2.74L4.35 8.473l-.822-.822L9.26 1.917H7.167z' fill='%23fff'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background-size: cover !important;
}

[theme="dark"] .i-amphtml-amp-story-shopping-pdp-cta-icon {
  filter: invert(1) !important;
}

.i-amphtml-amp-story-shopping-pdp-carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.i-amphtml-amp-story-shopping-pdp-carousel-card {
  scroll-snap-align: center;
  flex-shrink: 0;
  width: 100%;
  height: 200px;
  margin-right: 30px;
  background: #eee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 46vh;
  height: 53vh;
  margin-inline-start: calc(var(--shopping-attachment-horizontal-padding) / 2);
}

.i-amphtml-amp-story-shopping-pdp-carousel-card:first-child {
  margin-inline-start: var(--shopping-attachment-horizontal-padding);
  border-radius: 1.1em 0 0 1.1em !important;
}

.i-amphtml-amp-story-shopping-pdp-carousel-card:last-child {
  border-radius: 0 1.1em 1.1em 0 !important;
}

[dir=rtl] .i-amphtml-amp-story-shopping-pdp-carousel-card:first-child {
  border-radius: 0 1.1em 1.1em 0 !important;
}

[dir=rtl] .i-amphtml-amp-story-shopping-pdp-carousel-card:last-child {
  border-radius: 1.1em 0 0 1.1em !important;
}
