amp-story-shopping-tag {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
  cursor: pointer !important;
  width: auto !important;
  color: white !important;
  position: absolute !important;
  /* Height and width ensures layoutCallback is called. */
  min-height: 1px !important;
  min-width: 1px !important;
  height: 36px !important;

  --i-amphtml-shopping-tag-bg-color: rgba(0, 0, 0, 0.3);
  --i-amphtml-shopping-tag-backdrop-filter: blur(20px);
  --i-amphtml-amp-story-shopping-tag-dot-size: 16px;
  --i-amphtml-amp-story-shopping-tag-dot-margin-right: 4px;
}

.i-amphtml-amp-story-shopping-product-tag-text {
  font-weight: 600 !important;
  font-size: 11px !important;
  line-height: 15.4px !important;
}

.i-amphtml-amp-story-shopping-tag-inner {
  height: 36px !important;
  white-space: nowrap !important;
  opacity: 0 !important;
  padding-left: 20px !important;
}

.i-amphtml-amp-story-shopping-tag-visible {
  opacity: 1 !important;
}

.i-amphtml-amp-story-shopping-tag-inner-flipped .i-amphtml-amp-story-shopping-tag-pill {
  transition: none !important;
  transform: translate(calc(-100% - var(--i-amphtml-amp-story-shopping-tag-dot-size) - var(--i-amphtml-amp-story-shopping-tag-dot-margin-right) * 2)) !important;
}

.i-amphtml-amp-story-shopping-tag-dot {
  width: var(--i-amphtml-amp-story-shopping-tag-dot-size) !important;
  height: var(--i-amphtml-amp-story-shopping-tag-dot-size) !important;
  border-radius: 100% !important;
  background-color: var(--i-amphtml-shopping-tag-bg-color) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  backdrop-filter: var(--i-amphtml-shopping-tag-backdrop-filter) !important;
  position: absolute !important;
  top: 50% !important;
  left: 0 !important;
  transform: translateY(-50%);
}

.i-amphtml-amp-story-shopping-tag-dot:before {
  border-radius: 100% !important;
  content: '' !important;
  width: 8px !important;
  height: 8px !important;
  background: white !important;
  box-shadow: 0px 2px 8px var(--i-amphtml-shopping-tag-bg-color) !important;
}

.i-amphtml-amp-story-shopping-tag-pill {
  --circle-size: 24px;
  --pill-padding-inline-start: 6px;
  display: flex !important;
  align-items: center !important;
  border-radius: 100px !important;
  height: 100% !important;
  max-width: 130px !important;
  background-color: var(--i-amphtml-shopping-tag-bg-color) !important;
  backdrop-filter: var(--i-amphtml-shopping-tag-backdrop-filter) !important;
  padding-inline-start: var(--pill-padding-inline-start) !important;
  padding-inline-end: 12px;
  transform-origin: 16px;
  transition: none;
}

[active] .i-amphtml-amp-story-shopping-tag-pill {
  animation: animate-in 2s forwards !important;
}

@keyframes animate-in {
  0% {
    clip-path: circle(calc(var(--circle-size) * .5) at calc(var(--pill-padding-inline-start) + var(--circle-size) * .5));
    transform: scale(0);
  }
  20% {
    clip-path: circle(calc(var(--circle-size) * .5) at calc(var(--pill-padding-inline-start) + var(--circle-size) * .5));
  }
  45% {
    transform: scale(1);
  }
  50% {
    clip-path: circle(calc(var(--circle-size) * .5 + var(--pill-padding-inline-start)) at calc(var(--pill-padding-inline-start) + var(--circle-size) * .5));
  }
  50.001% {
    clip-path: inset(0px calc(100% - 36px) 0px 0px round 30px);
  }
  100% {
    clip-path: inset(0px 0px 0px 0px round 30px);
  }
}

.i-amphtml-story-shopping-tag-pill-multi-line {
  border-radius: 10px !important;
  margin-inline-start: 9px !important;
  margin-inline-end: 4px !important;
}

.i-amphtml-amp-story-shopping-tag-pill-image {
  width: var(--circle-size) !important;
  height: var(--circle-size) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-radius: 100% !important;
  flex-shrink: 0 !important;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.49 5.755 6.24.505a1.16 1.16 0 0 0-.823-.338H1.334A1.17 1.17 0 0 0 .167 1.333v4.084c0 .32.128.612.344.828l5.25 5.25c.21.21.502.338.823.338.32 0 .612-.128.822-.344l4.083-4.083a1.14 1.14 0 0 0 .345-.823c0-.32-.134-.618-.345-.828ZM2.208 3.083a.874.874 0 1 1 0-1.75.874.874 0 1 1 0 1.75Z" fill="#fff"/></svg>') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  flex-shrink: 0 !important;
  margin-inline-end: 4px;
  position: relative;
}

.i-amphtml-amp-story-shopping-tag-pill-text {
  overflow: hidden !important;
  font-size: 14px !important;
  line-height: 14px !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important;
  max-height: 32px !important;
  animation: animate-in-text 1s 1s forwards;
  opacity: 0;
}

[active] .i-amphtml-amp-story-shopping-tag-pill-text {
  animation: animate-in-text 1s 1s forwards;
}

@keyframes animate-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
