.i-amphtml-amp-story-shopping-button-reset {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  font-size: inherit !important;
  color: inherit !important;
  cursor: pointer !important;
  text-align: inherit !important;
}
