/*
 * Pre-upgrade:
 * - display:block element
 * - size-defined element
 */
amp-fit-text {
  display: block;
  overflow: hidden;
  position: relative;
}

/* Pre-upgrade: size-defining element - hide text. */
amp-fit-text:not(.i-amphtml-built) {
  color: transparent !important;
}

/* Pre-upgrade: size-defining element - hide children. */
amp-fit-text:not(.i-amphtml-built)
  > :not([placeholder]):not([slot='i-amphtml-svc']) {
  display: none;
  content-visibility: hidden;
}
