<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <!-- ## Introduction
    `amp-date-picker` is an AMP component which allows to select a single date or a range of dates.
    Its implementation is based on [react-dates](https://github.com/airbnb/react-dates)
  -->
  <!-- ## Setup -->
  <!--
    Include the `amp-date-picker` component.
  -->
  <script async custom-element="amp-date-picker" src="https://cdn.ampproject.org/v0/amp-date-picker-0.1.js"></script>
  <!--
    Include the `amp-bind` component to set variables based on the selected date.
  -->
  <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
  <!--
    Include the `amp-mustache` component to display an info panel below the date picker.
  -->
  <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="canonical" href="https://ampbyexample.com/components/amp-date-picker/" >
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <!--
    In order to personalize `amp-date-picker` style, you can use classes such as `CalendarMonth_caption`
    which are inherited from [react-dates](https://github.com/airbnb/react-dates).
    `amp-date-picker` also exposes CSS classes which you can use in CSS rule, like
    `amp-date-picker-selecting`, which is applied to the date input the user is editing.
  -->
  <style amp-custom>
  .CalendarMonth_caption {
    color: #fff;
  }

  [type="range"] .amp-date-picker-selecting {
    border-bottom-color: #b60845;
    color: #b60845;
  }

  .align-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: row;
  }

  </style>
</head>
<body>

  <!-- ## Single Date Picker -->
  <!--
    `amp-date-picker` with `type=single` can be used for selecting a single date.
    You can use `amp-mustache` with `info-template` attribute to show an info-panel below the calendar, here we are showing the
    date that you just selected. `info-template` also enables AMP binding making available variables which
    have been set with `AMP.setState`.
    A placeholder is required for the component. For a single date, this can take the form:
    `<input amp-date-placeholder placeholder="Pick a date"/>`.
    `amp-date-picker` introduces the `clear` action that can be called after clicking on a button to clear the date selection;
    it requires the `show-clear-date` attribute.
  -->
  <amp-date-picker
    id="simple-date-picker"
    type="single"
    mode="overlay"
    layout="container"
    on="select:AMP.setState({date1: event.date, dateType1: event.id})"
    format="Y-MM-DD"
    open-after-select
    input-selector="[name=date1]"
    class="mr1 ml1 flex picker">
    <div class="ampstart-input inline-block mt1">
      <input class="border-none p0" name="date1" placeholder="Pick a date"/>
    </div>
    <button class="ampstart-btn m1 caps" on="tap: simple-date-picker.clear">Clear</button>
    <template type="amp-mustache" info-template>
      <span [text]="date1 != null ? 'You picked ' + date1 + '.' : 'You will see your chosen date here.'">You will see your chosen date here.</span>
    </template>
  </amp-date-picker>
  <!--
    In addition, you can also use `amp-mustache` to create templates for custom date markup, such as an icon instead of the number of the month.
    Here we are using a taco icon in place of the number of the month with a frequency of 2 weeks every Tuesday. Common use cases
    could be dates of the month where the price of an item is fixed to a specific number.
  -->
  <amp-date-picker
    id="simple-date-picker-2"
    type="single"
    mode="overlay"
    layout="container"
    on="select:AMP.setState({date2: event.date, dateType2: event.id})"
    locale="en"
    format="Y-MM-DD"
    open-after-select
    input-selector="[name=date2]"
    class="mr1 ml1 flex picker">
    <div class="ampstart-input inline-block mt1">
      <input class="border-none p0" name="date2" placeholder="Pick a date"/>
    </div>
    <button class="ampstart-btn m1 caps" on="tap: simple-date-picker-2.clear">Clear</button>
    <template
      type="amp-mustache"
      date-template
      dates="FREQ=WEEKLY;DTSTART=20180101T000000Z;INTERVAL=2;WKST=SU;BYDAY=TU"
      id="tacos2">
      <span>🌮</span>
      <span class="taco-tuesday"></span>
    </template>
    <template type="amp-mustache" info-template>
      <span
        [text]="date2 ? 'You picked ' + date2 + '.' +
        (dateType2 == 'tacos2' ? ' Happy Taco Tuesday!' : '') : ''"
      >You will see your chosen date here.</span>
    </template>
  </amp-date-picker>
  <!--
    `amp-date-picker` supports a range of attributes, for example `highlighted` and `blocked`. Find the complete list in the official [doc](https://github.com/ampproject/amphtml/tree/master/extensions/amp-date-picker/0.1).
    The `blocked` attribute allows to specify a space separated list of ISO 8601 dates and RFC 5545 RRULEs specifying disallowed dates.
    The `highlighted` attributes a space separated list of ISO 8601 dates and RFC 5545 RRULEs specifying dates displayed with a highlight style.
    Here every Black Friday is `highlighted`, while every Christmas is `blocked`.
  -->
  <amp-date-picker
    id="simple-date-picker-3"
    type="single"
    mode="overlay"
    layout="container"
    on="select:AMP.setState({date3: event.date ? event.date : ''})"
    locale="en"
    format="Y-MM-DD"
    open-after-select
    highlighted="FREQ=YEARLY;DTSTART=20171124T110000Z;UNTIL=20171126T040000Z;BYMONTH=11;BYDAY=+4TH;WKST=SU"
    blocked="FREQ=YEARLY;WKST=SU;BYMONTH=12;BYMONTHDAY=25"
    input-selector="[name=date3]"
    class="mr1 ml1 flex picker">

    <div class="ampstart-input inline-block mt1">
        <input class="border-none p0" name="date3" placeholder="Pick a date"/>
      </div>
    <button class="ampstart-btn m1 caps" on="tap:simple-date-picker-3.clear">Clear</button>
    <template type="amp-mustache" info-template>
      <span [text]="date3 ? 'You picked ' + date3 + '.' : 'You will see your chosen date here.'">You will see your chosen date here.</span>
    </template>
  </amp-date-picker>
  <!-- ## Date Range Picker -->
  <!--
    `amp-date-picker` with `type=range` can be used for selecting a date range.
    By default, `amp-date-picker` disables past dates, use `min` attribute to enable them.
  -->
  <div>
  <button class="ampstart-btn m1 caps" on="tap:range-date-picker.setDates(startDate='2017-10-26',endDate='2017-11-04')">Set date range</button>
  <amp-date-picker
    type="range"
    mode="overlay"
    id="range-date-picker"
    on="
    select:
      AMP.setState({
          dates: event.dates,
          startDate: event.start,
          endDate: event.end
      })"
    format="Y-MM-DD"
    open-after-select
    min="2017-10-26"
    start-input-selector="#range-start"
    end-input-selector="#range-end"
    class="mr1 ml1 flex picker">
    <div class="ampstart-input inline-block mt1">
      <input class="border-none p0" id="range-start" placeholder="Start date"/>
    </div>
    <div class="ampstart-input inline-block mt1">
      <input class="border-none p0" id="range-end" placeholder="End date"/>
    </div>
    <button class="ampstart-btn m1 caps" on="tap:range-date-picker.clear">Clear</button>
    <template type="amp-mustache" info-template>
      <span [text]="(startDate && endDate ?
        'You picked ' + startDate.date + ' as start date and ' + endDate.date + ' as end date.' :
        'You will see your chosen dates here.')">
        You will see your chosen dates here.
      </span>
    </template>
  </amp-date-picker>


  </div>

  <!-- ## External Configuration -->
  <!--
    It's possible to configure the `amp-date-picker` preferences by using an external json. We are using the following:
```
    {
      "templates": [{
      "id": "spooky",
      "dates": [
        "2017-11-01", "2017-11-03", "2017-11-05", "2017-11-06",
        "FREQ=YEARLY;DTSTART=20180101T160000Z;WKST=SU;BYMONTH=10;BYMONTHDAY=31",
        "FREQ=MONTHLY;DTSTART=20180101T160000Z;WKST=SU;BYDAY=FR;BYMONTHDAY=13"
        ]
      }]
    }
```
  Then we set the `src` of `amp-date-picker` with the filename `amp-date-picker.json` -->
  <amp-date-picker
    id="src-picker"
    type="single"
    mode="overlay"
    layout="container"
    format="Y-MM-DD"
    src="/examples/visual-tests/amp-by-example/json/amp-date-picker.json"
    input-selector="#src-input"
    class="m1 flex">
    <div class="ampstart-input inline-block mt1">
      <input class="border-none p0" id="src-input" placeholder="Pick a date"/>
    </div>
    <button class="ampstart-btn m1 caps" on="tap: src-picker.clear">Clear</button>
    <template type="amp-mustache" date-template id="spooky">
      <div class="align-content-center">
        <span>🙀</span>
        <span>{{D}}</span>
      </div>
    </template>
  </amp-date-picker>

</body>
</html>