/*
* @Author: limkeddb
* @Date:   2018-05-10 10:12:38
* @Last Modified by:   limkeddb
* @Last Modified time: 2018-05-10 13:10:14
*/
.amp-opacity{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background: rgba(0, 0, 0, 0.4);
}
.amp-opacity-visible{
	opacity: 1;
	visibility: visible;
}
.amp-lightbox{
	position: fixed;
	top: 2rem;
	left: 0;
	right: 0;
	opacity: 0;
	z-index: 10;
	background-color: #fff;
	transform: translateY(-200%); 
}
.amp-lightbox-show{
	opacity: 1;
	transform: translateY(0);
	transition: 1s;
}
body, html{height: 100% !important;}