@import '../../../third_party/react-day-picker/style.css';

.amp-date-picker-calendar-container * {
  --rdp-background-color: #e4e7e7;
  --rdp-accent-color: #0654ab;
  --rdp-outline-selected: #0654ab;
  --rdp-outline: #e4e7e7;

  box-sizing: border-box;
}

.amp-date-picker-calendar-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.rdp-caption {
  background-color: #000;
  color: #fff;
  margin: 0 -30px 38px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.rdp-caption_label {
  font-weight: lighter;
}

.rdp-nav_button {
  --rdp-background-color: #000;
}
