name: Cross-Browser Tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        platform: [macos-latest]
        #[ubuntu-latest, macos-latest, windows-latest]
        node-version: [12.x]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Get yarn Cache Path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Cache Dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ matrix.platform }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ matrix.platform }}-yarn-
      - name: Install Gulp CLI
        run: yarn global add gulp-cli
      - name: Install Dependencies
        run: yarn
      - name: Set Up Environment
        if: ${{ matrix.platform == 'macos-latest' }}
        run: sudo chown -R $(whoami) $(npm config get prefix)/{lib/node_modules,bin,share}
      - name: Build and Test
        run: node build-system/pr-check/cross-browser-tests.js
