name: Cross-Platform Builds

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  compile:
    if: github.repository == 'ampproject/amphtml'
    strategy:
      matrix:
        platform: [ubuntu, macos, windows]
        flavor: [Build, Dist]
      fail-fast: false
    runs-on: ${{ matrix.platform }}-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Set Up Node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Install Dependencies
        run: bash ./.github/workflows/install_dependencies.sh
      - name: ${{ matrix.flavor }}
        run: node build-system/pr-check/cross-platform-builds.js --flavor=${{ matrix.flavor }}

  create-issue-on-error:
    if: failure()
    needs: compile
    permissions:
      contents: read
      issues: write
    runs-on: ubuntu-latest
    environment: create_issue_on_error
    steps:
      - uses: actions/checkout@v3

      - name: Create issue on error
        uses: JasonEtco/create-an-issue@v2
        with:
          filename: .github/create_issue_on_error.md
        env:
          GITHUB_TOKEN: ${{ secrets.AMPPROJECTBOT }}
          WORKFLOW_NAME: ${{ github.workflow }}
          MENTION: '@ampproject/release-on-duty'
          REPO_SLUG: ${{ github.repository }}
          RUN_ID: ${{ github.run_id }}
