name: Update Session Issues

on:
  # This schedule should match the time rotation configured on
  # update-design-review-issues.js.
  # Times correspond to session end, and additionally 1 hour earlier to account
  # for Daylight Savings.
  schedule:
    - cron: '30 16,17 * * 3' # Africa/Europe/western Asia
    - cron: '0 21,22 * * 3' # Americas

permissions:
  contents: read

jobs:
  update-session-issues:
    permissions:
      issues: write
    if: github.repository == 'ampproject/amphtml'
    name: Update Session Issues
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout Repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Update Session Issues
        run: |
          node ./build-system/common/update-session-issues
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
